.alert-box {
    padding: 20px;
    background-color: #f0dcb4;
    color: #7a5505;
}

.alert-box a {
    font-weight: bold;
    color: #7a5505;
    text-decoration: underline;
}

.alert-box a:hover {
    color: #7a5505;
}
