/*
    Color Pallet
*/
/*
    Card Pallet
*/
.menu {
  background-color: #f5f5f5;
  position: fixed;
  height: 100%;
  margin-top: 100px;
  top: 0;
  z-index: 100;
}
.sidebar-nav {
  display: block;
  position: static;
  padding-top: 10px;
}
.sidebar-nav .sidebar-nav-items {
  padding: 0 0 26px;
  line-height: 20px;
  list-style: none;
  margin: 0 0 150px;
  overflow-y: auto;
}
.sidebar-nav .sidebar-nav-items li {
  line-height: 20px;
  list-style-type: none;
}
.sidebar-nav .sidebar-nav-items li.depth1 a {
  font-weight: bold;
}
.sidebar-nav .sidebar-nav-items li.depth3 {
  padding-left: 10px;
}
.sidebar-nav .sidebar-nav-items li.depth4 {
  padding-left: 20px;
}
.sidebar-nav a {
  display: block;
  margin: 0;
  padding: 6px 20px;
  font-size: 14px;
  list-style-type: none;
  color: #5f5f5f;
}
.sidebar-nav a:hover {
  color: #5f5f5f;
  text-decoration: underline;
}
.sidebar-nav a.active {
  color: #5f5f5f;
  text-decoration: underline;
}
.sections {
  display: inline-block;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  line-height: 40px;
  margin-left: 5px;
}
.sections a {
  float: left;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.sections a.active {
  color: #FECB2F;
}
.sections a:hover {
  color: #FFF;
  text-decoration: none;
}
.sections a.active:hover {
  color: #FECB2F;
  text-decoration: none;
}
.demo {
  color: #FFF;
  margin-top: 50px;
}
.demo input.demoInput {
  height: 2em;
  margin-top: -2px;
}
.demo .submit_demo {
  background-color: #FECB2F;
  margin-top: 10px;
}
.demo .formattedJson {
  padding-bottom: 20px;
}
.demo .results {
  background-color: #f5f5f5;
  color: #424145;
  padding: 20px;
  display: none;
}
.demo .error-results {
  color: #D62D20;
}
#apititle {
  line-height: 60px;
  vertical-align: middle;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: inline-block;
  width: auto;
}
#apititle div {
  margin: 0;
  color: #FECB2F;
  border-left: 2px solid #FECB2F;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  line-height: 35px;
  padding-left: 20px;
}
.content-background {
  background: #FFF;
}
iframe {
  background: #FFF;
  border: none;
  margin-top: 50px;
  min-height: 600px;
  resize: vertical;
}

/*
    Color Pallet
*/
/*
    Card Pallet
*/
.cards .card {
  margin-top: 20px;
  background: #f8f8f8;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 2px #c7c7c7;
}
.cards .card .card-logo {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.cards .card .card-logo span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-position: center;
  background-size: contain;
  background-color: #FECB2F;
  color: #5E5E5E;
  font-size: 33.33333333px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}
.cards .card .card-content {
  margin-left: 90px;
  margin-right: 20px;
}
.cards .card .card-header {
  color: #4F4F4F;
  font-size: 1.3em;
  font-family: "Helvetica Neue", Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arial, "Lucida Grande", sans-serif;
}
.cards .card .links {
  font-size: 0.9em;
  margin-bottom: 15px;
  font-family: "Helvetica Neue", Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arial, "Lucida Grande", sans-serif;
}
.cards .card .links a {
  color: #0065B8;
}
.cards .card .links a:hover,
.cards .card .links a:active {
  color: #0065B8;
}
.cards .card .description {
  color: #5E5E5E;
}

/*
    Color Pallet
*/
/*
    Card Pallet
*/

/*
    Color Pallet
*/
/*
    Card Pallet
*/
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  background: #FFF;
}
.body-grey-background {
  background-color: #EFEFEF;
}
a {
  color: #0087f5;
}
a:hover {
  color: #0087f5;
  text-decoration: underline;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a {
  color: inherit;
}
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover {
  color: inherit;
}
#sitenav img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}
code {
  border: none;
  background: none;
  font-family: "Consolas", "Menlo", "Courier", monospace !important;
  word-wrap: break-word;
}
code.hljs {
  border-color: none;
  border-style: none;
  border-width: 0;
  border-radius: 4px;
  font-size: 0.9em;
  background: #f5f5f5;
  word-wrap: break-word;
  margin-top: 20px;
  margin-bottom: 20px;
}
#sitenav {
  background-color: #5f5f5f;
  vertical-align: middle;
  z-index: 10000;
  margin-bottom: 40px;
  height: 60px;
  padding: 0;
}
#sitenav a.logo {
  font-size: 0.8em;
  color: #FFF;
  font-family: Roboto, sans-serif;
  line-height: 60px;
  margin-left: 20px;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  position: absolute;
}
#sitenav a.logo img {
  height: 37px;
}
#sitenav a:hover {
  text-decoration: none;
}
#sitenav .logo {
  text-align: center;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
  height: 60px;
}
.full-width {
  max-width: 100%;
  width: 100%;
}
.simple-page > p {
  font-size: 1.3em;
}
.stickyheader {
  background-color: #272B2D;
  z-index: 100;
  height: 40px;
  position: fixed;
  top: 60px;
}
.footer {
  background: #3f3f3f;
  color: #FFF !important;
  min-height: 130px;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  z-index: 200;
  margin-top: 50px;
  padding-bottom: 20px;
}
.footer .links {
  margin-top: 20px;
}
.footer .links a,
.footer .links a:visited {
  padding: 5px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none !important;
}
.footer .links a:hover,
.footer .links a:active {
  color: #FFF !important;
}
.footer-logo {
  background: url(https://www.expediapartnercentral.com/Images/common-sprite.png?r=635811163229379650) no-repeat scroll 0 -46px;
  width: 450px;
  height: 51px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}


