/* Color Pallet */
/* Api Styling */
/* Card Styling */
/* Core Styling */
/* Header Styling */
/* Hero Styling */
.api-content {
  padding: 50px 60px 50px 60px;
  color: #5E5E5E;
  text-align: justify;
}
.api-content a {
  word-break: break-all;
  word-break: break-word;
}
@media only screen and (max-width: 40em) {
  .api-content {
    padding: 1em;
  }
}
.api-content table {
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
}
.api-content table td a {
  word-break: break-all;
  word-break: break-word;
}
.api-content table td {
  color: #5E5E5E;
  line-height: 1.4em;
  word-break: break-word;
}
.api-content table th {
  color: #5E5E5E;
  line-height: 1.4em;
}
.api-content ul li {
  color: #5E5E5E;
  line-height: 1.4em;
  list-style-type: disc !important;
  display: list-item;
  margin-bottom: 0.5em;
}
.api-content p {
  color: #5E5E5E;
  line-height: 1.4em;
}
.api-content :first-child {
  margin-top: 0;
}
.api-content hr {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
.api-content h1,
.api-content h2,
.api-content h3,
.api-content h4,
.api-content h5,
.api-content h6 {
  margin-top: 2rem;
  color: #0a0a0a;
}
.api-content iframe {
  background: #FFF;
  border: none;
  width: 100%;
  height: 100%;
}
.api-menu {
  background-color: #f5f5f5;
  position: fixed;
  height: 100%;
  margin-top: 80px;
  top: 0;
  z-index: 100;
}
.sidebar-nav {
  display: block;
  position: static;
  padding-left: 20px;
}
.sidebar-nav header {
  float: none;
  color: #4F4F4F;
  font-size: 1.2em;
  margin-top: 50px;
  margin-bottom: 5px;
}
.sidebar-nav .sidebar-nav-items {
  line-height: 20px;
  list-style-type: none;
  padding-left: 10px;
  padding-top: 0;
  margin: 0 0 150px;
  overflow-y: auto;
  background-color: #f5f5f5;
}
.sidebar-nav .sidebar-nav-items .pagename {
  font-weight: bold;
  margin-top: 3px;
}
.sidebar-nav .sidebar-nav-items li {
  line-height: 20px;
  list-style-type: none;
  display: block;
  padding-left: 5px;
}
.sidebar-nav .sidebar-nav-items li.depth1 {
  padding-left: 10px;
}
.sidebar-nav .sidebar-nav-items li.depth2 {
  padding-left: 20px;
}
.sidebar-nav .sidebar-nav-items li.depth3 {
  padding-left: 30px;
}
.sidebar-nav .sidebar-nav-items li.depth4 {
  padding-left: 40px;
}
.sidebar-nav a {
  display: block;
  margin: 0;
  padding: 4px 0;
  font-size: 0.9em;
  list-style-type: none;
  color: #0065B8;
}
.sidebar-nav a:hover {
  color: #0065B8;
  text-decoration: underline;
}
.sidebar-nav .active {
  background-color: #EFEFEF;
}
.sidebar-nav .active a {
  color: #0065B8;
  text-decoration: underline;
}
.nofloat {
  float: none;
}
.off-canvas {
  background-color: #f5f5f5;
}
.off-canvas .sidebar-nav {
  padding-right: 15px;
  padding-left: 5px;
}
.off-canvas .sidebar-nav header {
  margin-top: 5px;
}
@media screen and (min-width: 64em) {
  .large-8,
  .xlarge-8,
  .xxlarge-8 {
    width: 75%;
  }
}
@media print, screen and (min-width: 40em) and (max-width: 63.9em) {
  .medium-10 {
    width: 100%;
  }
}
@media print, screen and (min-width: 40em) and (max-width: 63.9em) {
  .medium-offset-1 {
    margin-left: 0;
  }
}
.demo {
  color: #FFF;
  margin-top: 50px;
}
.demo input.demoInput {
  height: 2em;
  margin-top: -2px;
}
.demo .submit_demo {
  background-color: #FECB2F;
  margin-top: 10px;
}
.demo .formattedJson {
  padding-bottom: 20px;
}
.demo .results {
  background-color: #f5f5f5;
  color: #424145;
  padding: 20px;
  display: none;
}
.demo .error-results {
  color: #D62D20;
}
.edit-on-github {
  text-align: right;
  position: absolute;
  display: table !important;
  height: 50px;
  z-index: 1;
  padding-right: 60px;
}
.edit-on-github div {
  display: table-cell;
  vertical-align: middle;
}
.edit-on-github div a {
  display: inline-block;
  width: 150px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border: 1px solid #0065B8;
  border-radius: 4px;
}
#apititle {
  line-height: 80px;
  vertical-align: middle;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  width: auto;
}
#apititle div {
  margin: 0;
  color: #FECB2F;
  border-left: 2px solid #FECB2F;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  line-height: 35px;
  padding-left: 20px;
}
.off-canvas-wrapper-inner {
  @include transform(translate3d(0,0,0));
}
.title-bar-title {
  display: block;
  text-align: center;
}
.menu-icon::after {
  -webkit-box-shadow: 0 7px 0 #fefefe,0 14px 0 #fefefe;
  box-shadow: 0 7px 0 #fefefe,0 14px 0 #fefefe;
}

/* Color Pallet */
/* Api Styling */
/* Card Styling */
/* Core Styling */
/* Header Styling */
/* Hero Styling */
.cards {
  margin-bottom: 50px;
  text-align: left;
  margin-top: 0;
}
.cards .category {
  margin-top: 20px;
  font-size: 1.3em;
  font-family: "Open Sans", sans-serif;
}
.cards .category:first-of-type {
  margin-top: 0;
}
.cards .experimental-api {
  vertical-align: text-bottom;
  margin-left: 5px;
  background-color: #008CBA;
  padding: 0.25rem 0.5rem;
  font-size: 0.6875rem;
  font-weight: normal;
}
.cards .card {
  margin-top: 20px;
  background: #f8f8f8;
  border: none !important;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 2px #c7c7c7;
}
.cards .card a {
  text-decoration: none;
}
.cards .card a:hover {
  text-decoration: underline;
}
.cards .card .card-logo {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.cards .card .card-logo span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-position: center;
  background-size: contain;
  background-color: #FECB2F;
  color: #5E5E5E;
  font-size: 33.33333333px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}
.cards .card .card-content {
  margin-left: 90px;
  margin-right: 20px;
}
.cards .card .card-header {
  color: #4F4F4F;
  font-size: 1.3em;
  font-family: "Open Sans", sans-serif;
}
.cards .card .links {
  font-size: 0.9em !important;
  margin-bottom: 15px;
  font-family: "Open Sans", sans-serif;
}
.cards .card .links a {
  font-size: 0.9rem;
  color: #0065B8;
}
.cards .card .links a:hover,
.cards .card .links a:active {
  color: #0065B8;
}
.cards .card .description {
  color: #5E5E5E;
}

/* Color Pallet */
/* Api Styling */
/* Card Styling */
/* Core Styling */
/* Header Styling */
/* Hero Styling */

/* Color Pallet */
/* Api Styling */
/* Card Styling */
/* Core Styling */
/* Header Styling */
/* Hero Styling */
#section-intro_paragraph .inner {
  padding: 3em 0 1em 0;
}
#section-intro_paragraph .inner .row {
  max-width: 94rem;
}
#section-intro_paragraph .inner p {
  color: #6b6b6b;
  font-size: 1.15rem;
}
#section-intro_paragraph .inner h2 {
  font-weight: 700;
  color: #3f3f3e;
}
#section-large_image_pods {
  padding-bottom: 4em;
}
#section-large_image_pods .yellow-seperator {
  border-bottom: solid 2px #FECB2F;
  margin-left: 10%;
  margin-right: 10%;
}
#section-large_image_pods .row {
  max-width: 94rem;
}
#section-large_image_pods .row > div {
  margin-bottom: 0px;
  margin-top: 0px;
}
#section-large_image_pods p > span {
  color: #0065B8;
}
#section-large_image_pods .pod-image {
  height: 114px;
}
#section-large_image_pods h3 {
  font-weight: 700;
  font-size: 1.5em;
  color: #3f3f3e;
}
input.disabled {
  background-color: #EFEFEF !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", sans-serif;
}
.intro-left {
  text-align: left;
}

#contactus {
  margin-top: 24px;
  text-align: center;
}
#contactus input {
  width: 100%;
}
#contactus .g-recaptcha {
  width: 304px;
  display: inline-block;
  margin-bottom: 10px;
}
.contactus-info h3 {
  margin-bottom: 0px;
  font-size: 20px;
  color: #3F3F3F;
  line-height: 21px;
  font-weight: bold;
}
.contactus-info h5 {
  margin-top: 25px;
  margin-bottom: -15px;
  font-size: 15px;
  color: #3F3F3F;
  line-height: 21px;
  font-weight: bold;
}
.contactus-info a {
  font-size: 15px;
}
.contactus-end {
  margin-bottom: 40px;
}

/* Color Pallet */
/* Api Styling */
/* Card Styling */
/* Core Styling */
/* Header Styling */
/* Hero Styling */
html {
  font-size: 15px;
  color: #6b6b6b;
}
body {
  font-family: "Open Sans", sans-serif !important;
  background: #FFF;
  -webkit-font-smoothing: unset !important;
  -moz-osx-font-smoothing: unset !important;
  text-rendering: optimizeLegibility;
}
.bluish-box {
  background-color: #ECF0F1 !important;
}
.circuit-board {
  background-color: #fff !important;
  background-image: url(../images/circuit-board.png) !important;
  margin-bottom: -3em;
  text-align: center;
}
.circuit-board h2 {
  margin-top: 1em;
  font-weight: 700;
  color: #3f3f3e;
}
.circuit-board .inner {
  max-width: 610px;
  padding: 0 !important;
}
#contactus {
  max-width: 540px;
  display: inline-block;
}
#contactus input.btn-send {
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  text-decoration: none;
  color: #222 !important;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  height: auto;
  display: inline-block;
  text-align: center;
  background-color: #FFC711;
  width: 160px;
  float: right;
}
#contactus .g-recaptcha {
  float: left;
}
#contactus .pull-up {
  margin-top: -1em !important;
}
#contactus > div:nth-child(1) > div .homepage-box-main-link {
  font-weight: 700;
  font-family: Tahoma, sans-serif;
  font-color: blue;
}
.logo-carousel {
  padding: 15px 20px;
  background-color: #fff;
}
.developers-image {
  background-image: url(../images/developers-image.png);
  height: 385px;
}
.properties-image {
  background-image: url(../images/properties-image.png);
  height: 385px;
}
.systems-image {
  background-image: url(../images/systems-image.png);
  height: 385px;
}
.yellow-button a {
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  text-decoration: none;
  color: #222 !important;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  height: auto;
  display: inline-block;
  text-align: center;
  background-color: #FFC711;
}
.gray-button a {
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  border-radius: 45px;
  text-decoration: none;
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 30px;
  height: auto;
  display: inline-block;
  text-align: center;
  background-color: #676767;
}
.button-wrapper {
  max-width: 25em;
  height: 5em;
}
.vimeo-wrapper {
  max-width: 650px;
  height: 360px;
}
.primary-box {
  box-shadow: none !important;
}
.primary-box p {
  line-height: 1.75em;
  font-size: 15px;
}
.primary-box p.secondary {
  margin-left: 2em;
}
.primary-box .inner {
  width: 100% !important;
}
.primary-box h2 {
  font-weight: 700;
  color: #3f3f3e !important;
}
.primary-box span {
  color: #6b6b6b !important;
  font-weight: 700;
}
.primary-box iframe {
  margin-top: 1em;
}
.primary-box .fi-check {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  padding: 2px;
  width: 24px;
  height: 24px;
  color: #fff;
  font-family: Times, sans-serif;
  background-color: #FEC632;
  margin-top: 0.3em;
  margin-right: 0.4em;
  position: absolute;
  float: left;
}
.slider-copy-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
}
.body-grey-background {
  background-color: #EFEFEF;
}
.light-box {
  background-color: #fff !important;
}
.slider-logo-wrap {
  height: 80px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
}
.suga-container {
  background: #fff;
}
.suga-slider-wrap {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 1em;
  position: absolute;
  left: 0px;
}
.suga-slider-group {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 80px;
}
.suga-slider-group:before,
.suga-slider-group:after {
  content: " ";
  display: table;
}
.suga-slider-group:after {
  clear: both;
}
.suga-slide {
  position: relative;
  margin-left: 0;
  padding: 0px 40px;
}
.suga-slide img {
  display: block;
  min-width: 150px;
  max-width: 150px;
  width: 150px;
}
#yellow-ribbon {
  background-color: #FECB2F;
  background-image: linear-gradient(to top, rgba(255, 199, 17, 0.7), #ffc711);
  background-image: linear-gradient(to top, rgba(255, 199, 17, 0.7), var(--brand-yellow));
  overflow: auto;
  padding-top: 4em;
  padding-bottom: 5em;
}
#yellow-ribbon h2 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  color: #222;
}
#yellow-ribbon .ribbon-element {
  background: transparent;
}
#yellow-ribbon .ribbon-element p {
  max-width: 410px;
}
#lowest-box h4 {
  font-weight: 700 !important;
}
.triangle {
  background-color: #FECB2F;
  background-image: -webkit-linear-gradient(270deg, #ffc711, rgba(255, 199, 17, 0.5));
  background-image: linear-gradient(180deg, #ffc711, rgba(255, 199, 17, 0.5));
  background-image: url(../images/down-caret.svg);
  background-size: 85px 18px;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  height: 18px;
}
li {
  list-style-type: none;
  display: inline;
}
.card-section {
  padding: 0 !important;
}
.simple-content {
  margin-top: 60px;
}
.simple-content,
.api-content {
  margin-bottom: 230px;
}
.simple-content a,
.api-content a {
  color: #0065B8;
}
.simple-content a:hover,
.api-content a:hover {
  color: #0065B8;
  text-decoration: underline;
}
.simple-content h1 > a,
.api-content h1 > a,
.simple-content h2 > a,
.api-content h2 > a,
.simple-content h3 > a,
.api-content h3 > a,
.simple-content h4 > a,
.api-content h4 > a {
  color: inherit;
}
.simple-content h1 > a:hover,
.api-content h1 > a:hover,
.simple-content h2 > a:hover,
.api-content h2 > a:hover,
.simple-content h3 > a:hover,
.api-content h3 > a:hover,
.simple-content h4 > a:hover,
.api-content h4 > a:hover {
  color: inherit;
}
.simple-content h1,
.api-content h1 {
  font-size: 25px;
  line-height: 30px;
}
.simple-content h2,
.api-content h2 {
  font-size: 20px;
  line-height: 24px;
}
.simple-content h3,
.api-content h3 {
  font-size: 16px;
  line-height: 24px;
}
.simple-content h4,
.api-content h4 {
  font-size: 14px;
  line-height: 18px;
}
.simple-content h5,
.api-content h5 {
  font-size: 12px;
  line-height: 18px;
}
.simple-content h6,
.api-content h6 {
  font-size: 10px;
  line-height: 18px;
}
.simple-content #sitenav img,
.api-content #sitenav img {
  vertical-align: middle;
}
.simple-content h1,
.api-content h1,
.simple-content h2,
.api-content h2,
.simple-content h3,
.api-content h3,
.simple-content h4,
.api-content h4,
.simple-content h5,
.api-content h5,
.simple-content h6,
.api-content h6 {
  margin-bottom: 0.8rem;
}
.simple-content code,
.api-content code {
  border: none;
  background: none;
  font-family: "Consolas", "Menlo", "Courier", monospace !important;
  word-wrap: break-word;
}
.simple-content code.hljs,
.api-content code.hljs {
  border-color: none;
  border-style: none;
  border-width: 0;
  border-radius: 4px;
  font-size: 0.9em;
  background: #f5f5f5;
  word-wrap: break-word;
  margin-top: 20px;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
#diagram-graphics > * {
  float: none;
  padding: 0;
  position: static;
}
#sitenav {
  background-color: #1f1f1f;
  vertical-align: middle;
  z-index: 20;
  height: 80px;
  padding: 0;
}
#sitenav a {
  font-size: 0.8em;
  color: #FFF;
  font-family: Roboto, sans-serif;
  display: inline-block;
  line-height: 80px;
  height: 80px;
  padding: 0;
}
#sitenav a.logo {
  margin-left: 20px;
  vertical-align: middle;
  position: absolute;
}
#sitenav a.logo img {
  height: 48px;
}
#sitenav a.logo :hover {
  text-decoration: none;
}
#sitenav a.feedback {
  float: right;
  margin-right: 100px;
}
#cookies-alert {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-right: 1rem;
}
#cookies-link {
  font-size: x-small !important;
  text-transform: none !important;
  padding-right: 0 !important;
}
.full-width {
  max-width: 100%;
  width: 100%;
}
.index-content {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #222;
}
.index-content p {
  font-size: 1.1rem;
  line-height: 1.5em;
}
.index-content h3 {
  color: initial;
}
section#section-lower_links a {
  background-color: #FECB2F;
  color: #1f1f1f;
  font-weight: bold;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  font-size: 1em;
  line-height: 3em;
  box-shadow: 0px 2px #e4ac01;
}
.center {
  text-align: center;
}
.right-align {
  text-align: right;
}
.announce {
  font-size: 1.3em;
  margin-top: 60px;
}
.hidden {
  display: none !important;
}
footer {
  background: #5f5f5f;
  color: #c3c3c3 !important;
  min-height: 130px;
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  z-index: 200;
  padding-top: 0px;
  padding-bottom: 20px;
}
footer .link-item {
  margin-right: 20px;
}
footer .links {
  margin-top: 20px;
  padding-bottom: 5px;
}
footer .links .last {
  margin-right: 0px;
}
footer .links a,
footer .links a:visited,
footer .links a:active {
  font-size: 0.9rem;
  padding: 5px;
  color: #c3c3c3;
  text-decoration: none !important;
  display: inline;
}
footer .links a:hover,
footer .links a:active {
  border-bottom: 1px solid #c3c3c3;
}
footer .footer-logo {
  background: url(../images/Brands_Lockup_2line_white_RGB.png) no-repeat scroll center;
  background-size: contain;
  width: 100%;
  height: 84px;
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
}
/* Contact Us */
@media screen and (max-width: 540px) {
  #contactus input.btn-send {
    float: none;
    left: 0;
    bottom: 0;
    position: absolute;
    margin-bottom: -2.5rem;
  }
}
/* Small only */
@media screen and (max-width: 39.9375em) {
  .primary-box {
    margin-bottom: -4.5rem !important;
  }
  .developers-image {
    background-position: center;
  }
  .properties-image {
    background-position: center;
  }
  .systems-image {
    background-position: center;
  }
  footer .links .link-item {
    margin-right: 0px;
  }
  footer .links a:hover,
  footer .links a:active {
    border-bottom: none;
  }
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .primary-box {
    margin-bottom: 0 !important;
  }
  .developers-image {
    background-position: center;
  }
  .properties-image {
    background-position: center;
  }
  .systems-image {
    background-position: center;
  }
  footer .links .link-item {
    margin-right: 0px;
  }
  footer .links a:hover,
  footer .links a:active {
    border-bottom: none;
  }
  .lowest-box .six {
    height: 235px !important;
  }
}
@media screen and (min-width: 64em) {
  .primary-box .inner {
    padding: 4em 0 2em 0;
  }
}

.dataTables_paginate {
  padding-top: 0.755em !important;
}
.paginate_button {
  padding: 0 0.5em !important;
}



/* Color Pallet */
/* Api Styling */
/* Card Styling */
/* Core Styling */
/* Header Styling */
/* Hero Styling */
header + * {
  margin-top: 0;
}
header .inner {
  width: initial;
}
nav ul {
  list-style: none;
  margin: 0 !important;
}
nav li {
  display: inline-block;
  padding: 0 0 0 1.6rem;
}
nav a {
  cursor: pointer;
}
#nav-top a {
  font-size: 0.7rem;
  font-weight: 300;
}
#nav-main a {
  position: relative;
  color: #FFF;
  padding: 0px 0px 0px 0px;
  line-height: 0.9rem;
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: capitalize;
}
#nav-main a:hover {
  color: rgba(255, 255, 255, 0.9);
}
nav li:hover a {
  color: rgba(255, 255, 255, 0.9);
}
#nav-top {
  box-sizing: border-box;
  text-align: center;
  font-size: 0.8rem;
  background: #FECB2F;
}
#nav-top .inner {
  text-align: right;
  max-width: 100%;
  margin-right: 35px;
}
#nav-top .inner a {
  color: #6b6b6b;
}
#nav-main {
  background-color: #000010;
  position: relative;
  height: 80px;
  display: table;
}
#nav-main .inner {
  text-align: left;
  max-width: 100%;
  display: table-cell;
  vertical-align: middle;
}
#nav-main ul {
  margin: 0 0 0 auto;
  display: inline-block;
  box-sizing: border-box;
  padding: 1.6rem 0 0.4rem;
  display: table;
}
#nav-main li {
  vertical-align: middle;
  text-align: center;
}
#nav-main li.active a {
  color: white !important;
}
#logo {
  width: 200px !important;
  height: auto;
  vertical-align: middle;
  margin-left: 35px;
}
#logo img {
  width: 210px !important;
  height: 60px !important;
}
#menu-wrap {
  display: inline-block;
  width: auto;
  height: auto;
  overflow: hidden;
  text-align: right;
  right: 35px;
  top: 0px;
  position: absolute;
}
#menu-wrap ul {
  display: inline-block;
}
#menu-toggle {
  position: absolute;
  top: 1.4rem;
  right: 1.5rem;
  cursor: pointer;
  height: 25px;
  width: 32px;
  border: none;
  background: url(../images/menu-hamburger.png) 50% 50% no-repeat;
}
#menu-toggle.open {
  background: url(../images/menu-close.png) 50% 50% no-repeat;
}
@media (min-width: 90em) {
  #logo {
    margin-top: 1.1rem;
  }
  #nav-main a {
    line-height: 1.2em;
    padding: 0 1.6em 0 0;
  }
  #nav-main li {
    padding: 0 0 0 1.5em;
  }
}
@media (max-width: 64em) {
  #nav-main {
    padding: 0.7em 0 0;
  }
  #nav-main a {
    padding: 0 0.6em 0 0;
    font-size: 0.8em;
  }
  #menu-wrap {
    width: 100%;
    text-align: left;
    position: static;
    padding-left: 58px;
  }
  #menu-wrap div {
    width: 15%;
    padding: 0;
    border-top: 2px solid #FECB2F;
  }
  #nav-main .inner {
    text-align: left;
  }
  #logo {
    margin: 0.3rem 13px 1rem;
  }
  #nav-main ul,
  #nav-main li,
  #nav-main a {
    clear: both;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    text-align: left;
  }
  #nav-main ul {
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 1rem;
    min-width: 200px;
  }
  #nav-main li {
    padding: 0 0;
    padding-top: 0.8rem;
  }
  #nav-main li a {
    font-weight: normal;
  }
  #nav-main li.active a {
    color: #FECB2F;
  }
  #nav-main li:hover a {
    color: #FECB2F;
  }
  #nav-main li:last-child {
    border-bottom: none;
  }
}

/* Color Pallet */
/* Api Styling */
/* Card Styling */
/* Core Styling */
/* Header Styling */
/* Hero Styling */
section.hero {
  width: 100%;
  height: 410px;
  background-size: cover;
  display: table;
  margin: 1rem 0;
  margin-top: 0;
}
section.hero .inner {
  display: table-cell;
  width: 610px;
  vertical-align: middle;
  text-align: center;
  text-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.5);
}
section.hero .inner h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 48px;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 1.3rem;
  font-weight: bold;
  color: #fff;
}
section.hero .inner h2 {
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  max-width: 610px;
  font-size: 1.5rem;
}
section.hero .inner p {
  color: #FFF;
  font-size: 20px;
  letter-spacing: 1px;
  max-width: 610px;
  line-height: 1.2;
  text-align: center;
}
.hero-pool {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/hero-pool.jpg);
  background-position: 60% 40%;
  background-position: center bottom;
}
.hero-cityscape {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/hero-cityscape.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/hero-cityscape.png');
  background-position: 0px 0px, 50% 33%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
.hero-hotelroom {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/hero-provider.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/hero-provider.png');
  background-position: 0px 0px, 50% 33%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
.hero-properties {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/hero-properties.png');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/hero-properties.png');
  background-position: 0px 0px, 50% 33%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
.hero-oceanview {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/hero-oceanview.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/hero-oceanview.jpg');
  background-position: 0px 0px, 50% 33%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
.hero-meeting {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/bg-hero-meeting.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/bg-hero-meeting.jpg');
  background-position: 0px 0px, 50% 33%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
.hero-pineapple {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/hero-pineapple.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/hero-pineapple.jpg');
  background-position: 0px 0px, 50% 33%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
.hero-climb {
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/hero-climb.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.5)), url('../images/hero-climb.jpg');
  background-position: 0px 0px, 50% 33%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
  section.hero .inner h1 {
    font-size: 36px;
  }
  section.hero .inner p {
    font-size: 16px;
  }
}
/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  section.hero .inner h1 {
    font-size: 42px;
  }
  section.hero .inner p {
    font-size: 18px;
  }
}

/* Color Pallet */
/* Api Styling */
/* Card Styling */
/* Core Styling */
/* Header Styling */
/* Hero Styling */
form {
  margin-bottom: 20px;
}
form .formline {
  line-height: 1.5;
  margin-bottom: 10px;
  vertical-align: middle;
}
form .formline textarea {
  display: inline-block;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  padding: 0.5rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  margin-bottom: 10px;
  height: 10em;
}
form .formline input {
  display: inline-block;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  padding: 0.5rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.8em;
  margin: 0;
  margin-bottom: 10px;
}
form .formline .submit {
  background: #FECB2F;
  cursor: pointer;
  border-radius: 0px;
  font-size: 1em;
}
form .error {
  color: #D62D20;
}
form .request-hotel {
  margin-top: 0.7em;
}
#hotels_wrapper > .dt-buttons {
  margin-top: 0.7em;
  text-align: right;
}
#hotels_wrapper > .dt-buttons > .dt-button {
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  padding: 0.5rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.8em;
  margin: 0;
  color: #1f1f1f;
  background: #FECB2F;
  cursor: pointer;
  margin-right: 0.3em;
}
#hotels_wrapper > .dt-buttons > .dt-button:hover {
  text-decoration: none;
}
#hotels_wrapper > .dt-buttons .disabled {
  background: #EFEFEF;
  cursor: default;
}
#factors .factor {
  margin-top: 0.7em;
}
#factors .factor select {
  line-height: normal;
  padding-top: 0px;
  padding-bottom: 0px;
}
.exp-divider {
  background-color: #FEC900;
  width: 60px;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Color Pallet */
/* Api Styling */
/* Card Styling */
/* Core Styling */
/* Header Styling */
/* Hero Styling */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  z-index: 5;
}
.loader .background {
  position: absolute;
  width: 100px;
  background-color: rgba(230, 230, 230, 0.7);
  height: 100px;
  margin-top: -75px;
  margin-left: -25px;
  border-radius: 5px;
}
.loader .circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #0057e7;
  }
}

#systems .card-content {
  margin-left: 15px;
  margin-right: 15px;
}
#systems .card-content .card-header {
  display: block;
}
#systems .card-content .card-header > span {
  float: right;
  display: inline-block;
}
#systems .card-content .description {
  display: none;
}
