/*
    Color Pallet
*/
/*
    Card Pallet
*/
.api-content {
  padding: 50px 60px 50px 60px;
  color: #5E5E5E;
  text-align: justify;
}
.api-content a {
  word-break: break-all;
  word-break: break-word;
}
@media only screen and (max-width: 40em) {
  .api-content {
    padding: 1em;
  }
}
.api-content table {
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
}
.api-content table td a {
  word-break: break-all;
  word-break: break-word;
}
.api-content table td {
  color: #5E5E5E;
  line-height: 1.4em;
}
.api-content table th {
  color: #5E5E5E;
  line-height: 1.4em;
}
.api-content ul li {
  color: #5E5E5E;
  line-height: 1.4em;
  margin-bottom: 0.5em;
}
.api-content p {
  color: #5E5E5E;
  line-height: 1.4em;
}
.api-content :first-child {
  margin-top: 0;
}
.api-content hr {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
.api-content h1,
.api-content h2,
.api-content h3,
.api-content h4,
.api-content h5,
.api-content h6 {
  margin-top: 2rem;
  color: #0a0a0a;
}
.api-content iframe {
  background: #FFF;
  border: none;
  width: 100%;
  height: 100%;
}
.menu {
  background-color: #f5f5f5;
  position: fixed;
  height: 100%;
  margin-top: 80px;
  top: 0;
  z-index: 100;
}
.sidebar-nav {
  display: block;
  position: static;
  padding-left: 20px;
}
.sidebar-nav header {
  float: none;
  color: #4F4F4F;
  font-size: 1.2em;
  margin-top: 50px;
  margin-bottom: 5px;
}
.sidebar-nav .sidebar-nav-items {
  line-height: 20px;
  list-style-type: none;
  padding-left: 10px;
  padding-top: 0;
  margin: 0 0 150px;
  overflow-y: auto;
  background-color: #f5f5f5;
}
.sidebar-nav .sidebar-nav-items .pagename {
  font-weight: bold;
  margin-top: 3px;
}
.sidebar-nav .sidebar-nav-items li {
  line-height: 20px;
  list-style-type: none;
  display: block;
}
.sidebar-nav .sidebar-nav-items li.depth1 {
  padding-left: 10px;
}
.sidebar-nav .sidebar-nav-items li.depth2 {
  padding-left: 20px;
}
.sidebar-nav .sidebar-nav-items li.depth3 {
  padding-left: 30px;
}
.sidebar-nav .sidebar-nav-items li.depth4 {
  padding-left: 40px;
}
.sidebar-nav a {
  display: block;
  margin: 0;
  padding: 4px 0;
  font-size: 0.9em;
  list-style-type: none;
  color: #0065B8;
}
.sidebar-nav a:hover {
  color: #0065B8;
  text-decoration: underline;
}
.sidebar-nav .active {
  background-color: #EFEFEF;
}
.sidebar-nav .active a {
  color: #0065B8;
  text-decoration: underline;
}
.nofloat {
  float: none;
}
.left-off-canvas-menu {
  background-color: #f5f5f5;
}
.left-off-canvas-menu .sidebar-nav {
  padding-right: 15px;
  padding-left: 5px;
}
.left-off-canvas-menu .sidebar-nav header {
  margin-top: 5px;
}
.demo {
  color: #FFF;
  margin-top: 50px;
}
.demo input.demoInput {
  height: 2em;
  margin-top: -2px;
}
.demo .submit_demo {
  background-color: #FECB2F;
  margin-top: 10px;
}
.demo .formattedJson {
  padding-bottom: 20px;
}
.demo .results {
  background-color: #f5f5f5;
  color: #424145;
  padding: 20px;
  display: none;
}
.demo .error-results {
  color: #D62D20;
}
.edit-on-github {
  text-align: right;
  position: absolute;
  display: table !important;
  height: 50px;
  z-index: 1;
  padding-right: 60px;
}
.edit-on-github div {
  display: table-cell;
  vertical-align: middle;
}
.edit-on-github div a {
  display: inline-block;
  width: 150px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  border: 1px solid #0065B8;
  border-radius: 4px;
}
#apititle {
  line-height: 80px;
  vertical-align: middle;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: inline-block;
  width: auto;
}
#apititle div {
  margin: 0;
  color: #FECB2F;
  border-left: 2px solid #FECB2F;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  line-height: 35px;
  padding-left: 20px;
}

/*
    Color Pallet
*/
/*
    Card Pallet
*/
.cards {
  margin-bottom: 50px;
  text-align: left;
  margin-top: 0;
}
.cards .category {
  margin-top: 20px;
  font-size: 1.3em;
  font-family: "Helvetica Neue", Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arial, "Lucida Grande", sans-serif;
}
.cards .category:first-of-type {
  margin-top: 0;
}
.cards .card {
  margin-top: 20px;
  background: #f8f8f8;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 2px #c7c7c7;
}
.cards .card a {
  text-decoration: none;
}
.cards .card a:hover {
  text-decoration: underline;
}
.cards .card .card-logo {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.cards .card .card-logo span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-position: center;
  background-size: contain;
  background-color: #FECB2F;
  color: #5E5E5E;
  font-size: 33.33333333px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}
.cards .card .card-content {
  margin-left: 90px;
  margin-right: 20px;
}
.cards .card .card-header {
  color: #4F4F4F;
  font-size: 1.3em;
  font-family: "Helvetica Neue", Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arial, "Lucida Grande", sans-serif;
}
.cards .card .links {
  font-size: 0.9em !important;
  margin-bottom: 15px;
  font-family: "Helvetica Neue", Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arial, "Lucida Grande", sans-serif;
}
.cards .card .links a {
  font-size: 0.9rem;
  color: #0065B8;
}
.cards .card .links a:hover,
.cards .card .links a:active {
  color: #0065B8;
}
.cards .card .description {
  color: #5E5E5E;
}

/*
    Color Pallet
*/
/*
    Card Pallet
*/

#section-intro_paragraph .inner {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#section-intro_paragraph .inner p {
  color: #6b6b6b;
  font-size: 1.15rem;
}

/*
    Color Pallet
*/
/*
    Card Pallet
*/
html {
  font-size: 15px;
  color: #6b6b6b;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  background: #FFF;
}
.body-grey-background {
  background-color: #EFEFEF;
}
.simple-content {
  margin-top: 60px;
}
.simple-content,
.api-content {
  margin-bottom: 100px;
}
.simple-content a,
.api-content a {
  color: #0065B8;
}
.simple-content a:hover,
.api-content a:hover {
  color: #0065B8;
  text-decoration: underline;
}
.simple-content h1 > a,
.api-content h1 > a,
.simple-content h2 > a,
.api-content h2 > a,
.simple-content h3 > a,
.api-content h3 > a,
.simple-content h4 > a,
.api-content h4 > a {
  color: inherit;
}
.simple-content h1 > a:hover,
.api-content h1 > a:hover,
.simple-content h2 > a:hover,
.api-content h2 > a:hover,
.simple-content h3 > a:hover,
.api-content h3 > a:hover,
.simple-content h4 > a:hover,
.api-content h4 > a:hover {
  color: inherit;
}
.simple-content h1,
.api-content h1 {
  font-size: 25px;
  line-height: 30px;
}
.simple-content h2,
.api-content h2 {
  font-size: 20px;
  line-height: 24px;
}
.simple-content h3,
.api-content h3 {
  font-size: 17px;
  line-height: 24px;
}
.simple-content h4,
.api-content h4 {
  font-size: 15px;
  line-height: 18px;
}
.simple-content h5,
.api-content h5 {
  font-size: 13px;
  line-height: 18px;
}
.simple-content h6,
.api-content h6 {
  font-size: 13px;
  line-height: 18px;
}
.simple-content #sitenav img,
.api-content #sitenav img {
  vertical-align: middle;
}
.simple-content h1,
.api-content h1,
.simple-content h2,
.api-content h2,
.simple-content h3,
.api-content h3,
.simple-content h4,
.api-content h4,
.simple-content h5,
.api-content h5,
.simple-content h6,
.api-content h6 {
  margin-bottom: 0.8rem;
}
.simple-content code,
.api-content code {
  border: none;
  background: none;
  font-family: "Consolas", "Menlo", "Courier", monospace !important;
  word-wrap: break-word;
}
.simple-content code.hljs,
.api-content code.hljs {
  border-color: none;
  border-style: none;
  border-width: 0;
  border-radius: 4px;
  font-size: 0.9em;
  background: #f5f5f5;
  word-wrap: break-word;
  margin-top: 20px;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
  color: inherit;
}
#diagram-graphics > * {
  float: none;
  padding: 0;
  position: static;
}
#sitenav {
  background-color: #5f5f5f;
  vertical-align: middle;
  z-index: 20;
  height: 80px;
  padding: 0;
}
#sitenav a {
  font-size: 0.8em;
  color: #FFF;
  font-family: Roboto, sans-serif;
  display: inline-block;
  line-height: 80px;
  height: 80px;
  padding: 0;
}
#sitenav a.logo {
  margin-left: 20px;
  vertical-align: middle;
  position: absolute;
}
#sitenav a.logo img {
  height: 48px;
}
#sitenav a.logo :hover {
  text-decoration: none;
}
#sitenav a.feedback {
  float: right;
  margin-right: 100px;
}
.full-width {
  max-width: 100%;
  width: 100%;
}
.index-content {
  margin-top: 60px;
  margin-bottom: 40px;
  color: #222;
}
.index-content p {
  font-size: 1.1rem;
  line-height: 1.5em;
}
.index-content h3 {
  color: initial;
}
.center {
  text-align: center;
}
.right-align {
  text-align: right;
}
.announce {
  font-size: 1.3em;
  margin-top: 60px;
}
.hidden {
  display: none !important;
}
footer {
  background: #3f3f3f;
  color: #FFF !important;
  min-height: 130px;
  text-align: center;
  font-size: 0.9rem;
  position: absolute;
  z-index: 200;
  padding-bottom: 20px;
}
footer .links {
  margin-top: 20px;
}
footer .links a,
footer .links a:visited,
footer .links a:active {
  font-size: 0.9rem;
  padding: 5px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none !important;
  display: inline;
}
footer .links a:hover,
footer .links a:active {
  color: #FFF !important;
}
footer .footer-logo {
  background: url(https://www.expediapartnercentral.com/Images/common-sprite.png?r=635811163229379650) no-repeat scroll 0 -46px;
  width: 450px;
  height: 51px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dataTables_paginate {
  padding-top: 0.755em !important;
}
.paginate_button {
  padding: 0 0.5em !important;
}



/*
    Color Pallet
*/
/*
    Card Pallet
*/
header + * {
  margin-top: 0;
}
header .inner {
  width: initial;
}
nav ul {
  list-style: none;
  margin: 0 !important;
}
nav li {
  display: inline-block;
  padding: 0 0 0 1.6rem;
}
nav a {
  color: rgba(255, 255, 255, 0.7);
  /*#6b6b6b;*/
  cursor: pointer;
}
#nav-top a {
  font-size: 0.8rem;
  font-weight: 300;
}
#nav-main a {
  font-size: 1rem;
  font-weight: 600;
}
nav li:hover a {
  color: #FFF;
  /*#0065b8;*/
}
#nav-top {
  box-sizing: border-box;
  /*padding: 0.2rem 0 0.1rem;*/
  text-align: center;
  font-size: 0.8rem;
  background: #EFEFEF;
  /*#f5f5f5;*/
}
#nav-top .inner {
  text-align: right;
  max-width: 100%;
  margin-right: 35px;
}
#nav-top .inner a {
  color: #6b6b6b;
}
#nav-main {
  position: relative;
  background: #5f5f5f;
  /*#ffffff;*/
  height: 61px;
  display: table;
}
#nav-main .inner {
  text-align: left;
  max-width: 100%;
  display: table-cell;
  vertical-align: middle;
}
#nav-main ul {
  margin: 0 0 0 auto;
  display: inline-block;
  box-sizing: border-box;
  padding: 1.6rem 0 0.4rem;
  display: table;
}
#nav-main li {
  vertical-align: middle;
  text-align: center;
}
#logo {
  width: 200px !important;
  height: auto;
  vertical-align: middle;
  margin-left: 35px;
}
#logo img {
  width: 200px !important;
}
#menu-wrap {
  display: inline-block;
  width: auto;
  height: auto;
  overflow: hidden;
  text-align: right;
  position: absolute;
  right: 35px;
  top: -5px;
}
#menu-toggle {
  display: none;
  height: 1.2rem;
  width: auto;
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  border: none;
  background: url(../images/menu-hamburger.png) 50% 50% no-repeat;
}
#menu-toggle.open {
  background: url(../images/menu-close.png) 50% 50% no-repeat;
}
@media (max-width: 1200px) {
  #logo {
    margin-top: 1.1rem;
  }
  #nav-main ul {
    padding: 0.8rem 0;
  }
  #nav-main a {
    line-height: 1.2em;
  }
  #nav-main li {
    max-width: 120px;
    padding: 0 0 0 1.5rem;
  }
}
@media (max-width: 865px) {
  #nav-main {
    padding: 0.7rem 0 0;
  }
  #menu-toggle {
    display: inline-block;
    top: 1.4rem;
    right: 1.5rem;
    cursor: pointer;
    height: 25px;
    width: 32px;
  }
  #menu-wrap {
    width: 100%;
    display: none;
    text-align: center;
  }
  #nav-main .inner {
    text-align: center;
  }
  #logo {
    margin: 0.3rem 0.5rem 1rem;
  }
  #nav-main ul,
  #nav-main li,
  #nav-main a {
    clear: both;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    text-align: center;
  }
  #nav-main ul {
    margin: 0 auto;
    padding: 1rem 0 1.5rem;
    width: 50%;
    min-width: 200px;
  }
  #nav-main li {
    padding: 0.8rem 0;
    border-bottom: 1px solid #ddd;
  }
  #nav-main li:last-child {
    border-bottom: none;
  }
}

/*
    Color Pallet
*/
/*
    Card Pallet
*/
section.hero {
  width: 100%;
  height: 400px;
  background-size: cover;
  display: table;
  margin: 1rem 0;
  margin-top: 0;
}
section.hero .inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.75);
}
section.hero .inner h1 {
  font-size: 2.7rem;
  margin-bottom: 1.3rem;
  font-weight: 600;
  color: #FFF;
}
section.hero .inner h2 {
  color: #FFF;
  max-width: 600px;
  font-size: 1.5rem;
  font-family: "Helvetica Neue", Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arial, "Lucida Grande", sans-serif;
}
.hero-pool {
  background: url(/images/hero-pool.jpg);
  background-position: 60% 40%;
  background-position: center bottom;
}
.hero-cityscape {
  background: url(/images/hero-cityscape.jpg);
}
.hero-hotelroom {
  background: url(/images/hero-hotelroom.jpg);
  background-position: 62% 50%;
}
.hero-oceanview {
  background: url(/images/hero-oceanview.jpg);
  background-position: center bottom;
}
.hero-meeting {
  background: url(/images/bg-hero-meeting.jpg);
  background-position: 62% 5%;
}

/*
    Color Pallet
*/
/*
    Card Pallet
*/
form {
  margin-bottom: 400px;
}
form .formline {
  line-height: 1.5;
  margin-bottom: 10px;
  vertical-align: middle;
}
form .formline > span {
  display: inline-block;
  width: 40%;
  margin-right: 10%;
  font-size: inherit;
  vertical-align: middle;
}
form .formline > input {
  display: inline-block;
  width: 100%;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  padding: 0.5rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.8em;
  margin: 0;
}
form .formline > .submit {
  background: #FECB2F;
  cursor: pointer;
}
form .error {
  color: #D62D20;
}
form .request-hotel {
  margin-top: 1.7em;
}
#loginform input {
  width: 49%;
}
#loginform .submit {
  float: right;
  margin-right: 0.8em;
}
#hotels_wrapper > .dt-buttons {
  margin-bottom: 0.7em;
}
#hotels_wrapper > .dt-buttons > .dt-button {
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  padding: 0.5rem;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 0.8em;
  margin: 0;
  color: #5f5f5f;
  background: #FECB2F;
  cursor: pointer;
  margin-right: 0.3em;
}
#hotels_wrapper > .dt-buttons > .dt-button:hover {
  text-decoration: none;
}
#hotels_wrapper > .dt-buttons .disabled {
  background: #EFEFEF;
  cursor: default;
}
#factors .factor {
  margin-top: 0.7em;
}
#factors .factor select {
  line-height: normal;
  padding-top: 0px;
  padding-bottom: 0px;
}
