/*
    Color Pallet
*/
/*
    Card Pallet
*/
.api-content {
  padding: 50px 60px 50px 60px;
  color: #5E5E5E;
}
@media only screen and (max-width: 40em) {
  .api-content {
    padding: 1em;
  }
}
.api-content table {
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
}
.api-content table td a {
  word-break: break-all;
  word-break: break-word;
}
.api-content table td {
  color: #5E5E5E;
  line-height: 1.4em;
}
.api-content table th {
  color: #5E5E5E;
  line-height: 1.4em;
}
.api-content ul li {
  color: #5E5E5E;
  line-height: 1.4em;
  margin-bottom: 0.5em;
}
.api-content p {
  color: #5E5E5E;
  line-height: 1.4em;
}
.api-content :first-child {
  margin-top: 0;
}
.api-content hr {
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}
.api-content h1,
.api-content h2,
.api-content h3,
.api-content h4,
.api-content h5,
.api-content h6 {
  margin-top: 2rem;
  color: #0a0a0a;
}
.api-content iframe {
  background: #FFF;
  border: none;
  width: 100%;
  height: 100%;
}
.menu {
  background-color: #f5f5f5;
  position: fixed;
  height: 100%;
  margin-top: 80px;
  top: 0;
  z-index: 100;
}
.sidebar-nav {
  display: block;
  position: static;
  padding-left: 20px;
}
.sidebar-nav header {
  float: none;
  color: #4F4F4F;
  font-size: 1.2em;
  margin-top: 50px;
  margin-bottom: 5px;
}
.sidebar-nav .sidebar-nav-items {
  line-height: 20px;
  list-style-type: none;
  padding-left: 10px;
  padding-top: 0;
  margin: 0 0 150px;
  overflow-y: auto;
  background-color: #f5f5f5;
}
.sidebar-nav .sidebar-nav-items .pagename {
  font-weight: bold;
  margin-top: 3px;
}
.sidebar-nav .sidebar-nav-items li {
  line-height: 20px;
  list-style-type: none;
}
.sidebar-nav .sidebar-nav-items li.depth1 {
  padding-left: 10px;
}
.sidebar-nav .sidebar-nav-items li.depth2 {
  padding-left: 20px;
}
.sidebar-nav .sidebar-nav-items li.depth3 {
  padding-left: 30px;
}
.sidebar-nav .sidebar-nav-items li.depth4 {
  padding-left: 40px;
}
.sidebar-nav a {
  display: block;
  margin: 0;
  padding: 4px 0;
  font-size: 0.9em;
  list-style-type: none;
  color: #0065B8;
}
.sidebar-nav a:hover {
  color: #0065B8;
  text-decoration: underline;
}
.sidebar-nav .active {
  background-color: #EFEFEF;
}
.sidebar-nav .active a {
  color: #0065B8;
  text-decoration: underline;
}
.nofloat {
  float: none;
}
.left-off-canvas-menu {
  background-color: #f5f5f5;
}
.left-off-canvas-menu .sidebar-nav {
  padding-right: 15px;
  padding-left: 5px;
}
.left-off-canvas-menu .sidebar-nav header {
  margin-top: 5px;
}
.demo {
  color: #FFF;
  margin-top: 50px;
}
.demo input.demoInput {
  height: 2em;
  margin-top: -2px;
}
.demo .submit_demo {
  background-color: #FECB2F;
  margin-top: 10px;
}
.demo .formattedJson {
  padding-bottom: 20px;
}
.demo .results {
  background-color: #f5f5f5;
  color: #424145;
  padding: 20px;
  display: none;
}
.demo .error-results {
  color: #D62D20;
}
#apititle {
  line-height: 80px;
  vertical-align: middle;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  display: inline-block;
  width: auto;
}
#apititle div {
  margin: 0;
  color: #FECB2F;
  border-left: 2px solid #FECB2F;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  line-height: 35px;
  padding-left: 20px;
}

/*
    Color Pallet
*/
/*
    Card Pallet
*/
.cards {
  margin-bottom: 50px;
}
.cards .card {
  margin-top: 20px;
  background: #f8f8f8;
  border-radius: 4px;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 2px #c7c7c7;
}
.cards .card .card-logo {
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 20px;
}
.cards .card .card-logo span {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-position: center;
  background-size: contain;
  background-color: #FECB2F;
  color: #5E5E5E;
  font-size: 33.33333333px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}
.cards .card .card-content {
  margin-left: 90px;
  margin-right: 20px;
}
.cards .card .card-header {
  color: #4F4F4F;
  font-size: 1.3em;
  font-family: "Helvetica Neue", Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arial, "Lucida Grande", sans-serif;
}
.cards .card .links {
  font-size: 0.9em;
  margin-bottom: 15px;
  font-family: "Helvetica Neue", Helvetica, "HelveticaNeue-Light", "Helvetica Neue Light", Arial, "Lucida Grande", sans-serif;
}
.cards .card .links a {
  color: #0065B8;
}
.cards .card .links a:hover,
.cards .card .links a:active {
  color: #0065B8;
}
.cards .card .description {
  color: #5E5E5E;
}

/*
    Color Pallet
*/
/*
    Card Pallet
*/

/*
    Color Pallet
*/
/*
    Card Pallet
*/
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif !important;
  background: #FFF;
}
.body-grey-background {
  background-color: #EFEFEF;
}
a {
  color: #0065B8;
}
a:hover {
  color: #0065B8;
  text-decoration: underline;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a {
  color: inherit;
}
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover {
  color: inherit;
}
h1 {
  font-size: 25px;
  line-height: 30px;
}
h2 {
  font-size: 20px;
  line-height: 24px;
}
h3 {
  font-size: 17px;
  line-height: 24px;
}
h4 {
  font-size: 15px;
  line-height: 18px;
}
h5 {
  font-size: 13px;
  line-height: 18px;
}
h6 {
  font-size: 13px;
  line-height: 18px;
}
#sitenav img {
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.8rem;
}
code {
  border: none;
  background: none;
  font-family: "Consolas", "Menlo", "Courier", monospace !important;
  word-wrap: break-word;
}
code.hljs {
  border-color: none;
  border-style: none;
  border-width: 0;
  border-radius: 4px;
  font-size: 0.9em;
  background: #f5f5f5;
  word-wrap: break-word;
  margin-top: 20px;
  margin-bottom: 20px;
}
#sitenav {
  background-color: #5f5f5f;
  vertical-align: middle;
  z-index: 20;
  height: 80px;
  padding: 0;
}
#sitenav a {
  font-size: 0.8em;
  color: #FFF;
  font-family: Roboto, sans-serif;
  display: inline-block;
  line-height: 80px;
  height: 80px;
  padding: 0;
}
#sitenav a.logo {
  margin-left: 20px;
  vertical-align: middle;
  position: absolute;
}
#sitenav a.logo img {
  height: 37px;
}
#sitenav a.logo :hover {
  text-decoration: none;
}
#sitenav a.feedback {
  float: right;
  margin-right: 100px;
}
.full-width {
  max-width: 100%;
  width: 100%;
}
.index-content {
  margin-top: 60px;
  margin-bottom: 40px;
}
.index-content p {
  font-size: 1.3em;
  margin-bottom: 0;
}
.footer {
  background: #3f3f3f;
  color: #FFF !important;
  min-height: 130px;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  z-index: 200;
  padding-bottom: 20px;
}
.footer .links {
  margin-top: 20px;
}
.footer .links a,
.footer .links a:visited {
  padding: 5px;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none !important;
}
.footer .links a:hover,
.footer .links a:active {
  color: #FFF !important;
}
.footer-logo {
  background: url(https://www.expediapartnercentral.com/Images/common-sprite.png?r=635811163229379650) no-repeat scroll 0 -46px;
  width: 450px;
  height: 51px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}


