/*
    Color Pallet 
*/
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.background {
  position: fixed;
  height: 100%;
  background-color: #2d3134;
  right: 0;
  top: 0;
  z-index: -1;
}
.menu {
  background-color: #f5f5f5;
  position: fixed;
  height: 100%;
  margin-top: 100px;
  top: 0;
  z-index: 100;
}
.menu_background,
.options_background {
  bottom: 0;
  position: absolute;
  top: 0;
  z-index: 75;
}
.options_background {
  background: #424145;
  right: 0;
  z-index: 0;
}
.documentation_header {
  padding-top: 40px;
}
.horizontal_line {
  display: inline-block;
  margin-top: 20px;
  height: 1px;
  background: #EEEEEE;
}
.horizontal_line.options_display {
  background: #272B2D;
}
a {
  color: #0087f5;
}
a:hover {
  color: #0087f5;
  text-decoration: underline;
}
h1 > a,
h2 > a,
h3 > a,
h4 > a {
  color: inherit;
}
h1 > a:hover,
h2 > a:hover,
h3 > a:hover,
h4 > a:hover {
  color: inherit;
}
.logo {
  color: #EEEEEE;
  padding: 5px 0 6px;
}
#sitenav img {
  vertical-align: middle;
}
.sidebar-nav {
  display: block;
  position: static;
  padding-top: 10px;
}
.sidebar-nav-items {
  margin: 0;
  padding: 0 0 26px;
  line-height: 20px;
  list-style: none;
}
.sidebar-nav-items li {
  line-height: 20px;
  list-style-type: none;
}
.sidebar-nav-item {
  display: block;
  margin: 0;
  padding: 6px 20px;
  font-size: 14px;
  list-style-type: none;
}
.sidebar-nav a {
  font-weight: bold;
  color: #5f5f5f;
}
.sidebar-nav a:hover {
  color: #5f5f5f;
  text-decoration: underline;
}
.sidebar-nav a.active {
  color: #5f5f5f;
  text-decoration: underline;
}
.header {
  z-index: 100;
  max-width: 100%;
  position: fixed;
}
.header .columns {
  padding-top: 5px;
  padding-bottom: 5px;
}
.options_header {
  text-align: right;
  line-height: 40px;
}
.option {
  cursor: pointer;
  color: #888888;
  padding: 0px 10px;
  margin: 5px 5px;
  border-radius: 4px;
  font-size: 100%;
  line-height: 30px;
  display: inline-block;
}
.option:hover {
  color: #FFFFFF;
}
.option.active {
  background: #FEC633;
  border-color: #FEC633;
  color: #FFFFFF;
  text-shadow: 0 0 0 rgba(65, 66, 69, 0.8);
}
.content_section {
  max-width: 100%;
}
.options_display {
  margin-top: 20px;
}
.option_content {
  display: none;
}
.option_content.active {
  display: block;
}
.option_content form label {
  color: #EEEEEE;
}
.sections {
  display: inline-block;
  font-weight: 500;
  font-family: Roboto, sans-serif;
  line-height: 40px;
  margin-left: 20px;
}
.sections a {
  float: left;
  margin-right: 20px;
  color: rgba(255, 255, 255, 0.7);
}
.sections a.active {
  color: #FEC633;
}
.sections a:hover {
  color: #FFFFFF;
  text-decoration: none;
}
.sections a.active:hover {
  color: #FEC633;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 0.8rem;
}
code {
  border: none;
  background: none;
  font-family: "Consolas", "Menlo", "Courier", monospace;
  word-wrap: break-word;
}
code.hljs {
  border-color: none;
  border-style: none;
  border-width: 0;
  border-radius: 4px;
  font-size: 0.9em;
  background: #f5f5f5;
  word-wrap: break-word;
  margin-top: 20px;
  margin-bottom: 20px;
}
#sitenav {
  background-color: #5f5f5f;
  vertical-align: middle;
  z-index: 10000;
  padding-left: 0;
  margin-bottom: 40px;
}
#sitenav a {
  font-size: 0.8em;
  color: #FFFFFF;
  text-align: center;
  font-family: Roboto, sans-serif;
  display: inline-block;
  line-height: 60px;
}
#sitenav a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}
#sitenav .logo {
  text-align: center;
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}
.demo {
  color: #FFFFFF;
  margin-top: 50px;
}
input.demoInput {
  height: 2em;
  margin-top: -2px;
}
.demo .submit_demo {
  background-color: #FEC633;
  margin-top: 10px;
}
.formattedJson {
  padding-bottom: 20px;
}
.full-width {
  max-width: 100%;
  width: 100%;
}
.simple-page {
  margin-top: 50px;
}
#stickyheader {
  background-color: #272B2D;
  z-index: 100;
  height: 40px;
  position: fixed;
  top: 60px;
}
#apititle {
  line-height: 60px;
  vertical-align: middle;
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#apititle div {
  margin: 0;
  color: #FEC633;
  border-left: 2px solid #FEC633;
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  line-height: 35px;
  padding-left: 20px;
}
.demo .results {
  background-color: #f5f5f5;
  color: #424145;
  padding: 20px;
  display: none;
}
.demo .error-results {
  color: #D62D20;
}
.footer {
  background: #3f3f3f;
  color: #FFFFFF;
  min-height: 130px;
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  z-index: 200;
  margin-top: 50px;
}
.footer .links {
  margin-top: 20px;
}
.footer .links a,
.footer .links a:visited {
  padding: 5px;
  color: #FFFFFF !important;
  text-decoration: none !important;
}
.footer .links a:hover,
.footer .links a:active {
  background-color: #10b8d5 !important;
}
.footer-logo {
  background: url(https://www.expediapartnercentral.com/Images/common-sprite.png?r=635811163229379650) no-repeat scroll 0 -46px;
  width: 450px;
  height: 51px;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 15px;
}
iframe {
  background: #FFFFFF;
  border: none;
  margin-top: 50px;
  min-height: 600px;
  resize: vertical;
}
