body {
  background: white !important;
  color: #404040;
}
.simple-content {
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 50px;
}
.simple-content h1 {
  font-size: 38px;
  margin-bottom: 0;
}
.simple-content .scorecard-provider {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0;
}
.simple-content .scorecard-rank {
  text-align: right;
  font-size: 30px;
  padding: 0;
}
.simple-content .scorecard-rank .rating {
  color: #2962b5;
  cursor: pointer;
}
.scorecard-row {
  margin-left: 35px;
  margin-right: 35px;
  max-width: none;
  background: #f8f8f8;
  box-shadow: 0px 2px #c7c7c7;
  border-radius: 4px;
  margin-bottom: 50px;
}
.scorecard-row .scorecard-category {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.7em;
}
.scorecard-row .scorecard-category-score {
  color: inherit;
  margin-top: 2em;
  text-align: right;
}
.scorecard-row .scorecard-category-score .score-total {
  background: #E0E0E0;
  padding: 0;
}
.scorecard-row .scorecard-category-score .score-total .score-value {
  background: #406f1d;
}
.scorecard-row .scorecard-description {
  margin-bottom: 1em;
}
.scorecard-row .scorecard-rank:hover {
  cursor: pointer;
}
.scorecard-row .scorecard-cards {
  padding: 0;
}
.scorecard-row .scorecard-cards .checkmark {
  height: auto !important;
  padding-bottom: 1em;
  padding-top: 1em;
}
.scorecard-row .scorecard-cards .border {
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: none;
  height: 8em;
  padding-top: 1em;
}
.scorecard-row .scorecard-cards .border:last-of-type {
  border-right: none;
}
.scorecard-row .scorecard-cards .border:hover {
  cursor: pointer;
}
.scorecard-row .scorecard-cards .has-tip {
  font-weight: normal;
  color: inherit;
  display: inherit;
}
.scorecard-row .scorecard-cards * {
  line-height: 1em;
}
.scorecard-row .scorecard-cards .value {
  font-size: 2.5em;
}
.scorecard-row .scorecard-cards .value .unit-top {
  font-size: 0.5em;
  position: relative;
  top: -0.7em;
}
.scorecard-row .scorecard-cards .value .unit-bottom {
  font-size: 0.5em;
}
.scorecard-row .scorecard-cards .metric {
  margin-top: 1em;
}
.scorecard-row .scorecard-cards .rate-change {
  line-height: 1.25em;
}
.scorecard-row .scorecard-cards .rate-change .green {
  color: darkgreen;
}
.scorecard-row .scorecard-cards .rate-change .red {
  color: darkred;
}
.scorecard-row .scorecard-cards .state {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}
.scorecard-row .scorecard-cards .feature {
  display: inline-block;
  vertical-align: middle;
}
.scorecard-row .scorecard-cards > .green .value {
  color: #406f1d;
}
.scorecard-row .scorecard-cards > .green .state {
  color: #406f1d;
  line-height: 1.6em;
  margin-left: 4px;
  margin-right: 1em;
}
.scorecard-row .scorecard-cards > .green .standard {
  color: #406f1d;
}
.scorecard-row .scorecard-cards > .red .value {
  color: #a92216;
}
.scorecard-row .scorecard-cards > .red .state {
  color: #a92216;
  font-size: 1.5em;
}
.scorecard-row .scorecard-cards > .red .standard {
  color: #a92216;
}
hr {
  margin-bottom: 3em;
  max-width: 100%;
}
.tooltip {
  min-width: 200px;
}
#top-metrics {
  width: 700px;
}
#top-metrics .top-metric-cards .top-performer {
  font-size: 1.3em;
  line-height: 3em;
  margin-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #dddddd;
}
#top-metrics .top-metric-cards .top-performer .position {
  margin-right: 1em;
  display: inline-block;
}
#top-metrics .top-metric-cards .top-performer .name {
  display: inline-block;
}
#top-metrics .top-metric-cards .top-performer .score {
  display: inline-block;
  float: right;
}
