html {
  background: #f8f8f8;
}
body {
  background: #f8f8f8 !important;
  color: #404040;
}
.full-width {
  background: #f8f8f8;
}
#site-footer {
  background: #3f3f3f;
}
.footnote {
  font-style: italic;
  font-weight: 200;
  font-size: smaller;
}
.divider {
  border-top: 1px solid #e8e8e8;
  margin-bottom: 1em;
}
.simple-content {
  padding-left: 35px;
  padding-right: 35px;
  margin-bottom: 50px;
}
.simple-content h1 {
  font-size: 38px;
  margin-bottom: 0;
}
.simple-content .provider {
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 2em;
}
.simple-content .scorecard-name {
  display: inline-block;
  padding: 0.5rem .9375rem;
  background-color: white;
  margin-bottom: 0.67rem;
  border-right: 1px solid #f8f8f8;
}
.simple-content .scorecard-provider {
  display: inline-block;
}
.simple-content .scorecard-label {
  font-size: .5em;
  color: darkgray;
}
.simple-content .scorecard-system {
  display: inline-block;
  padding: 0;
}
.simple-content .scorecard-rank {
  text-align: right;
  font-size: 30px;
  padding: 0;
}
.simple-content .scorecard-rank .rating {
  color: #2962b5;
  cursor: pointer;
}
.scorecard-row {
  margin-left: 35px;
  margin-right: 35px;
  max-width: none;
  background: #f8f8f8;
  margin-bottom: 50px;
}
.scorecard-row .scorecard-category {
  font-size: 2em;
  margin-top: 1em;
  margin-bottom: 0.7em;
}
.scorecard-row .scorecard-description {
  margin-bottom: 1em;
}
.scorecard-row .scorecard-rank:hover {
  cursor: pointer;
}
.scorecard-row .scorecard-cards {
  padding: 0;
}
.scorecard-row .scorecard-cards .checkmark {
  height: auto !important;
  padding-bottom: 1em;
  padding-top: 1em;
}
.scorecard-row .scorecard-cards .border {
  border-top: 10px solid #f8f8f8;
  border-right: 10px solid #f8f8f8;
  border-bottom: none;
  height: 8em;
  padding-top: 1em;
}
.scorecard-row .scorecard-cards .border:last-of-type {
  border-right: none;
}
.scorecard-row .scorecard-cards .border:hover {
  cursor: pointer;
}
.scorecard-row .scorecard-cards .has-tip {
  font-weight: normal;
  color: inherit;
  display: inherit;
}
.scorecard-row .scorecard-cards .no-data {
  cursor: default !important;
}
.scorecard-row .scorecard-cards * {
  line-height: 1em;
}
.scorecard-row .scorecard-cards .value {
  font-size: 2.5em;
  font-family: "Helvetica Neue";
}
.scorecard-row .scorecard-cards .value .unit-top {
  font-size: 0.5em;
  position: relative;
  top: -0.7em;
}
.scorecard-row .scorecard-cards .value .unit-bottom {
  font-size: 0.5em;
}
.scorecard-row .scorecard-cards .metric {
  margin-top: 1em;
}
.scorecard-row .scorecard-cards .rate-change {
  line-height: 1.25em;
}
.scorecard-row .scorecard-cards .state {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}
.scorecard-row .scorecard-cards .feature {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.5em;
}
.scorecard-row .scorecard-cards .icon-toggle90 {
  display: inline-block;
  vertical-align: middle;
  float: right;
  font-size: 1.5em;
}
.scorecard-row .scorecard-cards .toggle90-mod {
  position: relative;
  top: 0.5em;
  text-align: right;
  font-size: 2em;
}
.scorecard-row .scorecard-cards .rate-change.green {
  color: #406f1d;
}
.scorecard-row .scorecard-cards .rate-change.red {
  color: #a92216;
}
.scorecard-row .scorecard-cards > .grey .value {
  color: #404040;
}
.scorecard-row .scorecard-cards > .grey .state {
  color: #404040;
  font-size: 1.5em;
}
.scorecard-row .scorecard-cards > .grey .feature {
  color: #404040;
}
.scorecard-row .scorecard-cards > .grey .standard {
  color: #404040;
}
.scorecard-row .scorecard-cards > .green .value {
  color: #406f1d;
}
.scorecard-row .scorecard-cards > .green .state {
  color: #406f1d;
  line-height: 1.6em;
  margin-left: 4px;
  margin-right: 1em;
}
.scorecard-row .scorecard-cards > .green .feature {
  color: #406f1d;
}
.scorecard-row .scorecard-cards > .green .standard {
  color: #406f1d;
}
.scorecard-row .scorecard-cards > .red .value {
  color: #a92216;
}
.scorecard-row .scorecard-cards > .red .state {
  color: #a92216;
  font-size: 1.5em;
}
.scorecard-row .scorecard-cards > .red .feature {
  color: #a92216;
}
.scorecard-row .scorecard-cards > .red .standard {
  color: #a92216;
}
.scorecard-row .scorecard-improve {
  margin-bottom: 1em;
  border-top: 10px solid #f8f8f8;
  border-bottom: none;
  padding-top: 1em;
  text-align: right;
  color: #2962b5;
  cursor: pointer;
  font-size: 1.0em;
}
hr {
  margin-bottom: 3em;
  max-width: 100%;
}
.tooltip {
  min-width: 200px;
}
#optimise {
  background: white;
}
#optimise .border {
  white-space: nowrap;
  overflow-x: hidden;
  background: white;
}
#enhance {
  background: white;
}
#enhance .border:hover {
  cursor: pointer;
}
#enhance .border {
  white-space: nowrap;
  overflow-x: hidden;
  background: white;
}
#enhance .improve-thanks {
  text-align: left;
  color: #406f1d;
  font-size: 1em;
}
#enhanceModal {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
#enhanceModal h1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
#enhanceModal p {
  margin-left: 1rem;
  margin-right: 1rem;
}
#enhanceModal .adopt-message {
  color: grey;
  font-size: smaller;
  cursor: default;
  margin: 3px;
}
#enhanceModal .close-button {
  margin: 0;
}
#enhanceModal .gap {
  margin-top: 0.8em;
  height: 7px;
  background: linear-gradient(to bottom, #c7c7c7, white);
}
#enhanceModal .adopt {
  margin: 0.4em;
  text-align: right;
  color: #2962b5;
  cursor: pointer;
  font-size: 1.3em;
}
#top-metrics {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}
#top-metrics h1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
#top-metrics p {
  margin-left: 1rem;
  margin-right: 1rem;
}
#top-metrics .close-button {
  margin: 0;
}
#top-metrics .top-metric-cards {
  margin-top: 1em;
}
#top-metrics .top-metric-cards .gap {
  height: 7px;
  background: linear-gradient(to bottom, #c7c7c7, white);
}
#top-metrics .top-metric-cards .given-provider {
  font-family: "Helvetica Neue";
}
#top-metrics .top-metric-cards .top-performer {
  font-size: 1.3em;
  line-height: 3em;
  padding-left: 1em;
  padding-right: 1em;
  border-top: 1px solid #dddddd;
  vertical-align: middle;
}
#top-metrics .top-metric-cards .top-performer .position {
  margin-right: 1em;
  display: inline-block;
}
#top-metrics .top-metric-cards .top-performer .name {
  display: inline-block;
  width: 60%;
  vertical-align: middle;
  line-height: 1.5em;
}
#top-metrics .top-metric-cards .top-performer .score {
  display: inline-block;
  float: right;
}
