.scorecard-row .scorecard-category {
  color: #0087F5;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3em;
}
.scorecard-row .scorecard-category-score {
  color: inherit;
  margin-bottom: 3em;
}
.scorecard-row .scorecard-category-score .score-total {
  background: ghostwhite;
  padding: 2px;
  border: 1px solid #dddddd;
}
.scorecard-row .scorecard-category-score .score-total .score-value {
  background: #0087F5;
}
.scorecard-row .scorecard-provider {
  font-size: 3em;
}
.scorecard-row .scorecard-rank {
  text-align: center;
  font-size: 3em;
}
.scorecard-row .scorecard-column .check {
  height: 8em !important;
}
.scorecard-row .scorecard-column .border {
  border: 1px solid lightgrey;
  height: 6em;
  padding-top: 1em;
  margin-bottom: 50px;
}
.scorecard-row .scorecard-column .border:hover {
  cursor: pointer;
  border-color: #444;
}
.scorecard-row .scorecard-column .has-tip {
  font-weight: normal;
  color: inherit;
  display: inherit;
}
.scorecard-row .scorecard-column * {
  line-height: 1em;
  margin-bottom: 10px;
}
.scorecard-row .scorecard-column .scorecard-title {
  color: lightslategrey;
}
.scorecard-row .scorecard-column .value {
  font-size: 2em;
}
.scorecard-row .scorecard-column .rate-change {
  line-height: 2em;
}
.scorecard-row .scorecard-column .rate-change .green {
  color: darkgreen;
}
.scorecard-row .scorecard-column .rate-change .red {
  color: darkred;
}
.scorecard-row .scorecard-column .state {
  font-size: 2em;
  line-height: 2em;
  text-align: center;
}
.scorecard-row .scorecard-column .feature {
  text-align: center;
}
.scorecard-row .scorecard-column > .green {
  background: #cbe9cd;
  background: linear-gradient(to right, #cbe9cd 0%, #cbe9cd 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}
.scorecard-row .scorecard-column > .green .value {
  color: darkgreen;
}
.scorecard-row .scorecard-column > .feature-green,
.scorecard-row .scorecard-column .solid-background.green {
  background: #cbe9cd;
}
.scorecard-row .scorecard-column > .feature-green .state,
.scorecard-row .scorecard-column .solid-background.green .state {
  color: darkgreen;
}
.scorecard-row .scorecard-column > .red {
  background: #F8E5D8;
  background: linear-gradient(to right, #f8e5d8 0%, #f8e5d8 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%);
}
.scorecard-row .scorecard-column > .red .value {
  color: #de8344;
}
.scorecard-row .scorecard-column > .feature-red,
.scorecard-row .scorecard-column .solid-background.red {
  background: #F8E5D8;
}
.scorecard-row .scorecard-column > .feature-red .state,
.scorecard-row .scorecard-column .solid-background.red .state {
  color: darkred;
}
hr {
  margin-bottom: 3em;
  max-width: 100%;
}
.tooltip {
  min-width: 200px;
}
#top-metrics .top-metric-cards .top-performer {
  font-size: 1.3em;
}
#top-metrics .top-metric-cards .top-performer .position {
  margin-right: 5px;
  display: inline-block;
}
#top-metrics .top-metric-cards .top-performer .name {
  display: inline-block;
}
#top-metrics .top-metric-cards .top-performer .score {
  display: inline-block;
  float: right;
}
