body {
  background: white;
}
.scorecard-row .scorecard-category {
  color: #0087F5;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3em;
}
.scorecard-row .scorecard-category-score {
  color: inherit;
  margin-bottom: 3em;
}
.scorecard-row .scorecard-category-score .score-total {
  background: ghostwhite;
  padding: 2px;
  border: 1px solid #dddddd;
}
.scorecard-row .scorecard-category-score .score-total .score-value {
  background: #0087F5;
}
.scorecard-row .scorecard-provider {
  font-size: 3em;
}
.scorecard-row .scorecard-rank {
  text-align: center;
  font-size: 3em;
}
.scorecard-row .scorecard-rank:hover {
  cursor: pointer;
}
.scorecard-row .scorecard-column .check {
  height: 8em !important;
}
.scorecard-row .scorecard-column .border {
  border: 1px solid lightgrey;
  height: 6em;
  padding-top: 1em;
  margin-bottom: 50px;
  background: #f8f8f8;
  box-shadow: 0px 2px #c7c7c7;
  border-radius: 4px;
}
.scorecard-row .scorecard-column .border:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px #ddd;
  position: relative;
  top: -2px;
}
.scorecard-row .scorecard-column .border:active {
  top: 0;
  box-shadow: 0px 2px 2px #ddd;
}
.scorecard-row .scorecard-column .has-tip {
  font-weight: normal;
  color: inherit;
  display: inherit;
}
.scorecard-row .scorecard-column * {
  line-height: 1em;
  margin-bottom: 10px;
}
.scorecard-row .scorecard-column .scorecard-title {
  color: lightslategrey;
}
.scorecard-row .scorecard-column .value {
  font-size: 2em;
}
.scorecard-row .scorecard-column .rate-change {
  line-height: 2em;
}
.scorecard-row .scorecard-column .rate-change .green {
  color: darkgreen;
}
.scorecard-row .scorecard-column .rate-change .red {
  color: darkred;
}
.scorecard-row .scorecard-column .state {
  font-size: 2em;
  line-height: 2em;
  text-align: center;
}
.scorecard-row .scorecard-column .feature {
  text-align: center;
}
.scorecard-row .scorecard-column > .green .value {
  color: #0087F5;
}
.scorecard-row .scorecard-column > .green .state {
  color: #0087F5;
}
.scorecard-row .scorecard-column > .red .value {
  color: #f50200;
}
.scorecard-row .scorecard-column > .red .state {
  color: #f50200;
}
hr {
  margin-bottom: 3em;
  max-width: 100%;
}
.tooltip {
  min-width: 200px;
}
#top-metrics {
  width: 700px;
}
#top-metrics .top-metric-cards .top-performer {
  font-size: 1.3em;
  line-height: 3em;
  margin-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  border: 1px solid #dddddd;
}
#top-metrics .top-metric-cards .top-performer .position {
  margin-right: 1em;
  display: inline-block;
}
#top-metrics .top-metric-cards .top-performer .name {
  display: inline-block;
}
#top-metrics .top-metric-cards .top-performer .score {
  display: inline-block;
  float: right;
}
