.non-admin .dataTables_length,
.non-admin .dataTables_filter {
  display: none;
}
.simple-content form {
  margin-top: 50px;
  margin-bottom: 200px;
}
.non-admin .dataTables_paginate,
.non-admin .dataTables_info {
  display: none;
}
#requestHotelForm .submit {
  width: 100%;
}
.dialog h1 {
  font-size: 25px;
  line-height: 30px;
}
.dialog .error {
  color: #D62D20;
}
#unscheduledHotels tr {
  cursor: pointer;
}
#hotels tr {
  cursor: pointer;
}
/* fix length and filter wrapping */
.dataTables_filter input {
  width: initial;
  display: initial;
}
.dataTables_length select {
  width: initial;
}
.dt-buttons {
  margin-bottom: 10px;
}
