.dataTables_length,
.dataTables_filter {
  display: none;
}
.simple-content form {
  margin-top: 50px;
  margin-bottom: 200px;
}
.dataTables_paginate,
.dataTables_info {
  display: none;
}
#requestHotelForm .submit {
  width: 100%;
}
.dialog h1 {
  font-size: 25px;
  line-height: 30px;
}
.dialog .error {
  color: #D62D20;
}
