{
  "basePath": "/",
  "definitions": {
    "TopTpidsAndRegionsApiResponse": {
      "properties": {
        "error": {
          "type": "string"
        },
        "hopsTpidsList": {
          "items": {
            "$ref": "#/definitions/TpidEntity"
          },
          "type": "array"
        },
        "hotelId": {
          "format": "int32",
          "type": "integer"
        }
      }
    },
    "TpidEntity": {
      "properties": {
        "sortedRegionList": {
          "items": {
            "format": "int64",
            "type": "integer"
          },
          "type": "array"
        },
        "tpid": {
          "format": "int32",
          "type": "integer"
        }
      }
    }
  },
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "eps-security": {
      "type": "basic"
    }
  },
  "security": [
    ""
  ],
  "host": "services.expediapartnercentral.com",
  "info": {
    "contact": {
      "email": "team@expedia.com"
    },
    "description": "A service that provides APIs for ...",
    "title": "hops-top-tpids-and-regions-service",
    "version": "1.0"
  },
  "paths": {
    "/lodgingSort/v1/hops/HopsTopTpidsAndRegions": {
      "get": {
        "consumes": [
          "application/json"
        ],
        "deprecated": false,
        "description": "getTopTpidAndRegion",
        "operationId": "getTopTpidAndRegion",
        "parameters": [
          {
            "description": "clientId",
            "in": "query",
            "name": "cid",
            "required": false,
            "type": "string"
          },
          {
            "description": "hotelId",
            "format": "int32",
            "in": "query",
            "name": "hotelId",
            "required": false,
            "type": "integer"
          },
          {
            "description": "msgId",
            "in": "header",
            "name": "Message-ID",
            "required": false,
            "type": "string"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/TopTpidsAndRegionsApiResponse"
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "summary": "getTopTpidAndRegion",
        "tags": [
          "top-tpid-and-region-controller"
        ]
      }
    }
  },
  "schemes": [
    "http"
  ],
  "swagger": "2.0",
  "tags": [
    {
      "description": "Top Tpid And Region Controller",
      "name": "top-tpid-and-region-controller"
    }
  ]
}
