{
  "swagger": "2.0",
  "info": {
    "description": "A service that provides APIs for resolving metadata from images",
    "version": "1.0",
    "title": "media-intelligence-service",
    "contact": {
      "name": "noreply@expedia.com"
    },
    "license": {}
  },
  "host": "services.expediapartnercentral.com",
  "basePath": "",
  "tags": [
    {
      "name": "media-intelligence-controller",
      "description": "Media Intelligence Controller"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/image-tag/v1": {
      "post": {
        "tags": [
          "media-intelligence-controller"
        ],
        "summary": "Get tags for current image",
        "operationId": "adminSearchUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "verbose",
            "in": "query",
            "description": "verbose",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "mediaUrl",
            "in": "query",
            "description": "mediaUrl",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": false,
            "type": "file"
          },
          {
            "name": "characteristics",
            "in": "query",
            "description": "characteristics",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "features",
                "attributes",
                "faces",
                "landmarks"
              ]
            },
            "collectionFormat": "multi",
            "default": "features,attributes,faces,landmarks",
            "enum": [
              "features",
              "attributes",
              "faces",
              "landmarks"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Single«MediaTagResponse»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    },
    "/image-tag/v2": {
      "post": {
        "tags": [
          "media-intelligence-controller"
        ],
        "summary": "Get tags for current image -- Includes Pollo Loco Classification",
        "operationId": "adminSearchUsingPOST",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "*/*"
        ],
        "parameters": [
          {
            "name": "verbose",
            "in": "query",
            "description": "verbose",
            "required": false,
            "type": "boolean",
            "default": false
          },
          {
            "name": "mediaUrl",
            "in": "query",
            "description": "mediaUrl",
            "required": false,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file",
            "required": false,
            "type": "file"
          },
          {
            "name": "characteristics",
            "in": "query",
            "description": "characteristics",
            "required": false,
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "features",
                "attributes",
                "faces",
                "landmarks"
              ]
            },
            "collectionFormat": "multi",
            "default": "features,attributes,faces,landmarks",
            "enum": [
              "features",
              "attributes",
              "faces",
              "landmarks"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Single«MediaTagResponse»"
            }
          },
          "201": {
            "description": "Created"
          },
          "401": {
            "description": "Unauthorized"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          }
        },
        "security": [
          {
            "Basic": [

            ]
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Basic": {
      "type": "basic"
    }
  },
  "definitions": {
    "FaceTag": {
      "type": "object",
      "properties": {
        "age": {
          "type": "integer",
          "format": "int32"
        },
        "confidence": {
          "type": "number",
          "format": "double"
        },
        "faceRectangle": {
          "$ref": "#/definitions/FaceRectangle"
        },
        "gender": {
          "type": "string"
        },
        "imageUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string",
          "enum": [
            "GOOGLE_VISION",
            "GOOGLE_REVERSE_SEARCH",
            "MICROSOFT_VISION",
            "DESMET",
            "POLLO_LOCO",
            "MIS",
            "GAIA"
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "features",
            "attributes",
            "faces",
            "landmarks"
          ]
        }
      }
    },
    "Address": {
      "type": "object",
      "properties": {
        "address": {
          "type": "string"
        },
        "city": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "longName": {
          "type": "string"
        }
      }
    },
    "MediaServiceResponse": {
      "type": "object",
      "properties": {
        "imageUrl": {
          "type": "string"
        },
        "mediaServiceClassifiedTags": {
          "$ref": "#/definitions/MediaServiceClassifiedTags"
        },
        "result": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/List"
          }
        }
      }
    },
    "FaceRectangle": {
      "type": "object",
      "properties": {
        "height": {
          "type": "integer",
          "format": "int32"
        },
        "left": {
          "type": "integer",
          "format": "int32"
        },
        "top": {
          "type": "integer",
          "format": "int32"
        },
        "width": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MediaServiceClassifiedTags": {
      "type": "object",
      "properties": {
        "faceTags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FaceTag"
          }
        },
        "labelTags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LabelTag"
          }
        },
        "landmarkTags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/LandmarkTag"
          }
        },
        "safeSearchTags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SafeSearchTag"
          }
        },
        "simpleTags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Tag"
          }
        },
        "textTags": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TextTag"
          }
        }
      }
    },
    "Single«MediaServiceClassifiedResponse»": {
      "type": "object"
    },
    "MediaServiceClassifiedResponse": {
      "type": "object",
      "properties": {
        "desmetMediaTags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "faceRectangles": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/FaceRectangle"
          }
        },
        "gaia": {
          "$ref": "#/definitions/GaiaServiceResponse"
        },
        "lat": {
          "type": "string"
        },
        "lng": {
          "type": "string"
        },
        "ocr": {
          "type": "string"
        },
        "result": {
          "type": "object",
          "additionalProperties": {
            "$ref": "#/definitions/Map«string,List«TagDTO»»"
          }
        }
      }
    },
    "MediaTagResponse": {
      "type": "object",
      "properties": {
        "face": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagDTO"
          }
        },
        "filename": {
          "type": "string"
        },
        "label": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagDTO"
          }
        },
        "landmark": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagDTO"
          }
        },
        "mediaUrl": {
          "type": "string"
        },
        "safesearch": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagDTO"
          }
        },
        "text": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/TagDTO"
          }
        }
      }
    },
    "Single«MediaServiceResponse»": {
      "type": "object"
    },
    "LabelTag": {
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        },
        "imageUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string",
          "enum": [
            "GOOGLE_VISION",
            "GOOGLE_REVERSE_SEARCH",
            "MICROSOFT_VISION",
            "DESMET",
            "POLLO_LOCO",
            "MIS",
            "GAIA"
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "features",
            "attributes",
            "faces",
            "landmarks"
          ]
        }
      }
    },
    "Map«string,List«TagDTO»»": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/List"
      }
    },
    "SafeSearchTag": {
      "type": "object",
      "properties": {
        "confidence": {
          "type": "number",
          "format": "double"
        },
        "imageUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string",
          "enum": [
            "GOOGLE_VISION",
            "GOOGLE_REVERSE_SEARCH",
            "MICROSOFT_VISION",
            "DESMET",
            "POLLO_LOCO",
            "MIS",
            "GAIA"
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "features",
            "attributes",
            "faces",
            "landmarks"
          ]
        }
      }
    },
    "TagDTO": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string",
          "enum": [
            "GOOGLE_VISION",
            "GOOGLE_REVERSE_SEARCH",
            "MICROSOFT_VISION",
            "DESMET",
            "POLLO_LOCO",
            "MIS",
            "GAIA"
          ]
        }
      }
    },
    "TextTag": {
      "type": "object",
      "properties": {
        "imageUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string",
          "enum": [
            "GOOGLE_VISION",
            "GOOGLE_REVERSE_SEARCH",
            "MICROSOFT_VISION",
            "DESMET",
            "POLLO_LOCO",
            "MIS",
            "GAIA"
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "features",
            "attributes",
            "faces",
            "landmarks"
          ]
        },
        "value": {
          "type": "string"
        }
      }
    },
    "GaiaServiceResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "position": {
          "$ref": "#/definitions/GaiaPosition"
        }
      }
    },
    "LandmarkTag": {
      "type": "object",
      "properties": {
        "address": {
          "$ref": "#/definitions/Address"
        },
        "confidence": {
          "type": "number",
          "format": "double"
        },
        "imageUrl": {
          "type": "string"
        },
        "lat": {
          "type": "string"
        },
        "lng": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string",
          "enum": [
            "GOOGLE_VISION",
            "GOOGLE_REVERSE_SEARCH",
            "MICROSOFT_VISION",
            "DESMET",
            "POLLO_LOCO",
            "MIS",
            "GAIA"
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "features",
            "attributes",
            "faces",
            "landmarks"
          ]
        },
        "value": {
          "type": "string"
        }
      }
    },
    "Tag": {
      "type": "object",
      "properties": {
        "imageUrl": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "source": {
          "type": "string",
          "enum": [
            "GOOGLE_VISION",
            "GOOGLE_REVERSE_SEARCH",
            "MICROSOFT_VISION",
            "DESMET",
            "POLLO_LOCO",
            "MIS",
            "GAIA"
          ]
        },
        "type": {
          "type": "string",
          "enum": [
            "features",
            "attributes",
            "faces",
            "landmarks"
          ]
        }
      }
    },
    "GaiaPosition": {
      "type": "object",
      "properties": {
        "coordinates": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "type": {
          "type": "string"
        }
      }
    },
    "Single«MediaTagResponse»": {
      "type": "object"
    }
  }
}
