{
  "schemes": [
    "https"
  ],
  "securityDefinitions": {
    "eps-security": {
      "type": "basic"
    }
  },
  "security": {
    "eps-security": []
  },
  "host": "services.expediapartnercentral.com",
  "basePath": "/insights",
  "swagger": "2.0",
  "info": {
    "title": "Insights API",
    "version": "1.0",
    "description": "API to retrieve realtime market analytics for lodging suppliers",
    "contact": {
      "email": "insights@expedia.com"
    }
  },
  "tags": [
    {
      "name": "compression"
    },
    {
      "name": "missedOpportunitiesToday"
    },
    {
      "name": "missedOpportunitiesV2"
    },
    {
      "name": "newsfeed"
    },
    {
      "name": "replenishStubbedDataForNewsfeed"
    },
    {
      "name": "sameDaySortV2"
    },
    {
      "name": "sellTonightRoomsLeft"
    },
    {
      "name": "sellTonightSoldOut"
    },
    {
      "name": "v1"
    }
  ],
  "paths": {
    "/missedOpportunitiesToday/{hotelId}": {
      "get": {
        "tags": [
          "missedOpportunitiesToday"
        ],
        "operationId": "missedOpportunitiesToday",
        "summary": "get missed opportunities by hotel ID",
        "description": "get missed opportunities for today(checkinDate is today)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/MissedOppJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2002, errorMsg: 'This hotel has no competitors'"
          }
        }
      }
    },
    "/missedOpportunitiesV2": {
      "get": {
        "tags": [
          "missedOpportunitiesV2"
        ],
        "operationId": "missedOpportunitiesV2",
        "summary": "get missed opportunities by hotel ID",
        "description": "get missed opportunities whose checkinDate in a specified time range",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          },
          {
            "in": "query",
            "description": "The check in start date(format: yyyy-MM-dd). Default = today.",
            "name": "checkInStartDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "The check in end date(format: yyyy-MM-dd). Default = today.",
            "name": "checkInEndDate",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/MissedOpportunitiesV2JSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2002, errorMsg: 'This hotel has no competitors'"
          }
        }
      }
    },
    "/sameDaySortV2/{hotelId}": {
      "get": {
        "tags": [
          "sameDaySortV2"
        ],
        "operationId": "sameDaySortV2",
        "summary": "get current and previous average sort rank",
        "description": "get current and previous average sort rank",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/SameDaySortV2JSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2000, errorMsg: 'Hotel is not exist'"
          }
        }
      }
    },
    "/compression/{hotelId}": {
      "get": {
        "tags": [
          "compression"
        ],
        "operationId": "compression",
        "summary": "get compressionPercent data",
        "description": "get compressionPercent data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/CompressionJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2000, errorMsg: 'Hotel is not exist'"
          }
        }
      }
    },
    "/sellTonightRoomsLeft/{hotelId}": {
      "get": {
        "tags": [
          "sellTonightRoomsLeft"
        ],
        "operationId": "sellTonightRoomsLeft",
        "summary": "get competitors' room left information of tonight",
        "description": "get competitors' room left information of tonight",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/SellTonightRoomsLeftJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2002, errorMsg: 'This hotel has no competitors'"
          }
        }
      }
    },
    "/sellTonightSoldOut/{hotelId}": {
      "get": {
        "tags": [
          "sellTonightSoldOut"
        ],
        "operationId": "sellTonightSoldOut",
        "summary": "get competitors' sold out information of tonight",
        "description": "get competitors' sold out information of tonight",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer",
            "required": true
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/SellTonightSoldOutJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2002, errorMsg: 'This hotel has no competitors'"
          }
        }
      }
    },
    "/newsfeed": {
      "get": {
        "tags": [
          "newsfeed"
        ],
        "operationId": "newsfeed",
        "summary": "get newsfeed between startDate and endDate",
        "description": "get newsfeed data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID, example: 759",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "start date, example: 2016-12-01",
            "name": "startDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "end date, example: 2016-12-09",
            "name": "endDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "event type list, example: Booking or give a eventType list like this: Booking,Canceled,CompetitorPriceChange ",
            "name": "eventType",
            "type": "string"
          },
          {
            "in": "query",
            "description": "excludedEventId list, example: 1234,or give a excludedEventId list like this: 1234,45678,1212 ",
            "name": "excludedEventId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "limit, the default value is 50, example: 10",
            "name": "limit",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "client ID, fill your clientId here",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token,fill your apiToken here",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/newsfeedJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 3021, errorMsg: 'The endDate was not valid date, the date format should be yyyy-MM-dd.'"
          }
        }
      }
    },
    "/replenishStubbedDataForNewsfeed": {
      "get": {
        "tags": [
          "replenishStubbedDataForNewsfeed"
        ],
        "operationId": "replenishStubbedDataForNewsfeed",
        "summary": "replenish stubbedData for newsfeed api",
        "description": "replenish stubbedData for newsfeed api",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "client ID, fill your clientId here",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token,fill your apiToken here",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/replenishStubbedDataForNewsfeedJSONResponse"
            }
          },
          "400": {
            "description": "‘status’:‘Failed to replenish stubbed data for newsfeed API with hotelId:758,errorMsg=Failed to connect Mongodb’"
          }
        }
      }
    },
    "/v1/missedOpportunitiesV3": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "missedOpportunitiesV3",
        "summary": "get missed opportunities by hotel ID",
        "description": "get missed opportunities for today(book date is today)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/MissedOpportunitiesV3JSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2002, errorMsg: 'This hotel has no competitors'"
          }
        }
      }
    },
    "/v1/fairShare": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "fairShare",
        "summary": "Get the fair share data for the given stayDates",
        "description": "Get the fair share data for the given stayDates",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "(Optional)the number of days from today to the future, default value is 1",
            "name": "dayNum",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/FairShareJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2002, errorMsg: 'This hotel has no competitors'"
          }
        }
      }
    },
    "/v1/fairShareInfositeViews": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "fairShareInfositeViews",
        "summary": "Get and calculate fair share for info sites views",
        "description": "Get and calculate fair share for info sites views",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/FairShareInfositeViewsJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2002, errorMsg: 'This hotel has no competitors'"
          }
        }
      }
    },
    "/v1/gainedOpportunities": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "gainedOpportunities",
        "summary": "Get the gainedOpportunities information",
        "description": "Get the gainedOpportunities information",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "(Optional)The check in start date(format: yyyy-MM-dd). Default = today.",
            "name": "checkinStartDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "(Optional)The check in end date(format: yyyy-MM-dd). Default = today.",
            "name": "checkinEndDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/GainedOpportunitiesJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2002, errorMsg: 'This hotel has no competitors'"
          }
        }
      }
    },
    "/v1/missedOpposLeaderBoard": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "missedOpposLeaderBoard",
        "summary": "Get the Missed Opportunities Leaderboard Data.",
        "description": "Get the Missed Opportunities Leaderboard Data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "(Optional)The check in date(format: yyyy-MM-dd). Default = today.",
            "name": "checkinDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "(Optional)number of days from today to the future. Defalut = 1.",
            "name": "dayNum",
            "type": "string"
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/MissedOpposLeaderBoardJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2002, errorMsg: 'This hotel has no competitors'"
          }
        }
      }
    },
    "/v1/newsfeedADR": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "newsfeedADR",
        "summary": "Get ADR (Average Daily Rate)",
        "description": "Get ADR (Average Daily Rate)",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "(Optional)start date of query.default = today.Format: yyyy-MM-dd",
            "name": "since",
            "type": "string"
          },
          {
            "in": "query",
            "description": "(Optional)number of days. Defalut = 1.",
            "name": "dayNum",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/NewsfeedADRJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2000, errorMsg: 'Hotel is not exist'"
          }
        }
      }
    },
    "/v1/sameDaySortHistory": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "sameDaySortHistory",
        "summary": "Get the Sort Rank Adjustment History",
        "description": "Get the Sort Rank Adjustment History",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "(Optional)the number of days we want the history data, default = 1",
            "name": "dayNum",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/SameDaySortHistoryJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2000, errorMsg: 'Hotel is not exist'"
          }
        }
      }
    },
    "/v1/soldOutByRoomType": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "soldOutByRoomType",
        "summary": "Get hotel and competitors' Sold Out Room Type",
        "description": "Get hotel and competitors' Sold Out Room Type",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "(Optional)The check in date(format: yyyy-MM-dd). Default = today.",
            "name": "checkinDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "(Optional)The check out date(format: yyyy-MM-dd). Default = today.",
            "name": "checkoutDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/SoldOutRoomTypeJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2002, errorMsg: 'This hotel has no competitors'"
          }
        }
      }
    },
    "/v1/geoDemand": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "geoDemand",
        "summary": "Get GEO Demand information",
        "description": "Get GEO Demand information",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/GeoDemandJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2000, errorMsg: 'Hotel is not exist'"
          }
        }
      }
    },
    "/v1/missedOpportunitiesInPackages": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "missedOpportunitiesInPackages",
        "summary": "get missed opportunities from Packages by hotel ID",
        "description": "get missed opportunities from Packages for the specified booking date range",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          },
          {
            "in": "query",
            "description": "The book start date(format: yyyy-MM-dd). Default = today.",
            "name": "startDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "The book end date(format: yyyy-MM-dd). Default = today.",
            "name": "endDate",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/MissedOppJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 3021, errorMsg: 'The endDate was not valid date, the date format should be yyyy-MM-dd.'"
          }
        }
      }
    },
    "/v1/addCompSet": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "addCompSet",
        "summary": "get a list hotels which added me as competitor",
        "description": "get a list hotels which added me as competitor",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "start date",
            "name": "startDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "end date",
            "name": "endDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/addCompSetJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2002, errorMsg: 'This hotel has no competitors'"
          }
        }
      }
    },
    "/v1/interestPriceRange": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "interestPriceRange",
        "summary": "Get interest price range information",
        "description": "Get interest price range information",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "market ID. (required)",
            "name": "marketId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "booked start date, format is YYYY-MM-DD. (required)",
            "name": "bookedStartDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "booked end date, format is YYYY-MM-DD. (required)",
            "name": "bookedEndDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "check in date, format is YYYY-MM-DD. (required)",
            "name": "checkInDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "price range size, default is 20. (optional)",
            "name": "rangeSize",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "if set true, ignore data whose value is 0. (optional)",
            "name": "ignoreZero",
            "type": "string"
          },
          {
            "in": "query",
            "description": "client ID. (required)",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token. (required)",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/InterestPriceRangeJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 3112, errorMsg: 'The range size should be positive integer.'"
          }
        }
      }
    },
    "/v1/compressionOutlook": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "compressionOutlook",
        "summary": "get compression data between startDate and endDate",
        "description": "get compression data",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "start date (yyyy-mm-dd)",
            "name": "startDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "end date (yyyy-mm-dd)",
            "name": "endDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "client ID",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/compressionOutlookJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 2002, errorMsg: 'This hotel has no compression data available'"
          }
        }
      }
    },
    "/v1/priceDistribution": {
      "get": {
        "tags": [
          "v1"
        ],
        "operationId": "priceDistribution",
        "summary": "Get price distribution information",
        "description": "Get price distribution information",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "query",
            "description": "hotel ID. (required)",
            "name": "hotelId",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "check in date, format is YYYY-MM-DD. (required)",
            "name": "checkInDate",
            "type": "string"
          },
          {
            "in": "query",
            "description": "length of stay. (required)",
            "name": "lengthOfStay",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "price range size, default is 20. (optional)",
            "name": "rangeSize",
            "type": "integer"
          },
          {
            "in": "query",
            "description": "client ID. (required)",
            "name": "clientId",
            "type": "string"
          },
          {
            "in": "query",
            "description": "api Token. (required)",
            "name": "apiToken",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "No response was specified",
            "schema": {
              "$ref": "#/definitions/priceDistributionJSONResponse"
            }
          },
          "400": {
            "description": "status: 'Error', errorCode: 3112, errorMsg: 'The length of stay should be positive integer.'"
          }
        }
      }
    }
  },
  "definitions": {
    "MissedOppJSONResponse": {
      "type": "object",
      "id": "MissedOppJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "$ref": "#/definitions/MissedOpportunitiesData"
        }
      }
    },
    "MissedOpportunitiesData": {
      "type": "object",
      "id": "MissedOpportunitiesData",
      "required": [
        "viewedHotelId",
        "viewedHotelName",
        "totalViewerCounter",
        "missedOpportunities",
        "timeStamp"
      ],
      "properties": {
        "viewedHotelId": {
          "type": "integer",
          "format": "int32",
          "description": "viewed hotel id"
        },
        "viewedHotelName": {
          "type": "string",
          "description": "viewed hotel name"
        },
        "totalViewerCounter": {
          "type": "integer",
          "format": "int32",
          "description": "total viewer count"
        },
        "missedOpportunities": {
          "type": "array",
          "description": "missed opportunities by hotel",
          "items": {
            "$ref": "#/definitions/MissedOpportunitiesItem"
          }
        },
        "timeStamp": {
          "type": "string",
          "description": "timeStamp of the data creation"
        }
      }
    },
    "MissedOpportunitiesItem": {
      "type": "object",
      "id": "MissedOpportunitiesItem",
      "required": [
        "hotelId",
        "hotelName",
        "bookings"
      ],
      "properties": {
        "hotelId": {
          "type": "integer",
          "format": "int32",
          "description": "booked hotel id"
        },
        "hotelName": {
          "type": "string",
          "description": "booked hotel name"
        },
        "roomNights": {
          "type": "integer",
          "format": "int32",
          "description": "room neights count"
        },
        "bookings": {
          "type": "integer",
          "format": "int32",
          "description": "total booking count"
        }
      }
    },
    "MissedOpportunitiesV2JSONResponse": {
      "type": "object",
      "id": "MissedOpportunitiesV2JSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "type": "array",
          "description": "missed opportunities by checkinDate",
          "items": {
            "$ref": "#/definitions/MissedOpportunitiesData"
          }
        }
      }
    },
    "MissedOpportunitiesV3JSONResponse": {
      "id": "MissedOpportunitiesV3JSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "$ref": "#/definitions/MissedOpportunitiesV3Data"
        }
      }
    },
    "MissedOpportunitiesV3Data": {
      "id": "MissedOpportunitiesV3Data",
      "required": [
        "viewedHotelId",
        "viewedHotelName",
        "bookDate",
        "totalLostBookings",
        "totalLostUSD",
        "missedOpportunities"
      ],
      "properties": {
        "viewedHotelId": {
          "type": "integer",
          "format": "int32",
          "description": "viewed hotel id"
        },
        "viewedHotelName": {
          "type": "string",
          "description": "viewed hotel name"
        },
        "bookDate": {
          "type": "string",
          "description": "booked date"
        },
        "totalLostBookings": {
          "type": "integer",
          "format": "int32",
          "description": "total lost bookings count"
        },
        "totalLostUSD": {
          "type": "number",
          "format": "float",
          "description": "total lost US Dollar"
        },
        "missedOpportunities": {
          "type": "array",
          "description": "missed opportunities by hotel",
          "items": {
            "$ref": "#/definitions/MissedOpportunitiesV3Item"
          }
        }
      }
    },
    "MissedOpportunitiesV3Item": {
      "id": "MissedOpportunitiesV3Item",
      "required": [
        "hotelId",
        "hotelName",
        "lostBookings",
        "lostUSD",
        "details"
      ],
      "properties": {
        "hotelId": {
          "type": "integer",
          "format": "int32",
          "description": "booked hotel id"
        },
        "hotelName": {
          "type": "string",
          "description": "booked hotel name"
        },
        "lostBookings": {
          "type": "integer",
          "format": "int32",
          "description": "total lost bookings to this hotel"
        },
        "lostUSD": {
          "type": "number",
          "format": "float",
          "description": "total lost US Dollar to this hotel"
        },
        "details": {
          "type": "array",
          "description": "details for the lost bookings information",
          "items": {
            "$ref": "#/definitions/MissedOpportunitiesV3Details"
          }
        }
      }
    },
    "MissedOpportunitiesV3Details": {
      "id": "MissedOpportunitiesV3Details",
      "required": [
        "viewedPrice",
        "bookedPrice",
        "checkInDate"
      ],
      "properties": {
        "viewedPrice": {
          "type": "number",
          "format": "float",
          "description": "your price viewed by hotel shopper"
        },
        "bookedPrice": {
          "type": "number",
          "format": "float",
          "description": "competitor's price which is booked by hotel shopper"
        },
        "checkInDate": {
          "type": "string",
          "description": "checkinDate of this booking"
        }
      }
    },
    "SellTonightSoldOutJSONResponse": {
      "id": "SellTonightSoldOutJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "$ref": "#/definitions/SellTonightSoldOutData"
        }
      }
    },
    "SellTonightSoldOutData": {
      "id": "SellTonightSoldOutData",
      "required": [
        "marketName",
        "hotels"
      ],
      "properties": {
        "marketName": {
          "type": "string",
          "description": "market name"
        },
        "hotels": {
          "type": "array",
          "description": "competitors' hotel room availability",
          "items": {
            "$ref": "#/definitions/HotelAvailabilityItem"
          }
        }
      }
    },
    "HotelAvailabilityItem": {
      "id": "HotelAvailabilityItem",
      "required": [
        "hotelName",
        "availability"
      ],
      "properties": {
        "hotelName": {
          "type": "string",
          "description": "hotel name"
        },
        "availability": {
          "type": "int",
          "format": "int32",
          "description": "hotel room's availability"
        }
      }
    },
    "SellTonightRoomsLeftJSONResponse": {
      "id": "SellTonightRoomsLeftJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "$ref": "#/definitions/SellTonightRoomsLeftData"
        }
      }
    },
    "SellTonightRoomsLeftData": {
      "id": "SellTonightRoomsLeftData",
      "required": [
        "marketName",
        "hotels"
      ],
      "properties": {
        "marketName": {
          "type": "string",
          "description": "market name"
        },
        "hotels": {
          "type": "array",
          "description": "competitors' hotel room availability",
          "items": {
            "$ref": "#/definitions/HotelAvailabilityItem2"
          }
        }
      }
    },
    "HotelAvailabilityItem2": {
      "id": "HotelAvailabilityItem2",
      "required": [
        "hotelName",
        "hotelType",
        "availability"
      ],
      "properties": {
        "hotelName": {
          "type": "string",
          "description": "hotel name"
        },
        "hotelType": {
          "type": "string",
          "description": "hotel type"
        },
        "availability": {
          "type": "boolean",
          "description": "hotel room's availability"
        }
      }
    },
    "CompressionJSONResponse": {
      "id": "CompressionJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "$ref": "#/definitions/CompressionData"
        }
      }
    },
    "CompressionData": {
      "id": "CompressionData",
      "required": [
        "regionName",
        "startDate",
        "compressionPercent"
      ],
      "properties": {
        "regionName": {
          "type": "string",
          "description": "region name"
        },
        "startDate": {
          "type": "string",
          "description": "start date"
        },
        "compressionPercent": {
          "type": "array",
          "description": "compression percent",
          "items": {
            "type": "integer"
          }
        }
      }
    },
    "SameDaySortV2JSONResponse": {
      "id": "SameDaySortV2JSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "$ref": "#/definitions/SameDaySortRankData"
        }
      }
    },
    "SameDaySortRankData": {
      "id": "SameDaySortRankData",
      "required": [
        "currentRank",
        "previousRank",
        "currentPrice",
        "previousPrice"
      ],
      "properties": {
        "currentRank": {
          "type": "number",
          "format": "float",
          "description": "current Rank"
        },
        "previousRank": {
          "type": "number",
          "format": "float",
          "description": "previous Rank"
        },
        "currentPrice": {
          "type": "number",
          "format": "float",
          "description": "current Price"
        },
        "previousPrice": {
          "type": "number",
          "format": "float",
          "description": "previous Price"
        }
      }
    },
    "compressionOutlookJSONResponse": {
      "id": "compressionOutlookJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "$ref": "#/definitions/compressionOutlookData"
        }
      }
    },
    "compressionOutlookData": {
      "id": "compressionOutlookData",
      "required": [
        "regionName",
        "compression"
      ],
      "properties": {
        "regionName": {
          "type": "string",
          "description": "region name"
        },
        "compression": {
          "type": "array",
          "description": "compression set",
          "items": {
            "$ref": "#/definitions/compressionOutlookItem"
          }
        }
      }
    },
    "compressionOutlookItem": {
      "id": "compressionOutlookItem",
      "required": [
        "date",
        "compressionPercent"
      ],
      "properties": {
        "date": {
          "type": "string",
          "description": "date"
        },
        "compressionPercent": {
          "type": "integer",
          "format": "int32",
          "description": "compression percent"
        }
      }
    },
    "addCompSetJSONResponse": {
      "id": "addCompSetJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "$ref": "#/definitions/addCompSetData"
        }
      }
    },
    "addCompSetData": {
      "id": "addCompSetData",
      "required": [
        "HotelId",
        "HotelName",
        "startDate",
        "endDate",
        "compSet"
      ],
      "properties": {
        "HotelId": {
          "type": "integer",
          "format": "int32",
          "description": "owner hotel id"
        },
        "HotelName": {
          "type": "string",
          "description": "owner hotel name"
        },
        "startDate": {
          "type": "string",
          "description": "start date"
        },
        "endDate": {
          "type": "string",
          "description": "end date"
        },
        "compSet": {
          "type": "array",
          "description": "competitors set",
          "items": {
            "$ref": "#/definitions/addCompSetItem"
          }
        }
      }
    },
    "addCompSetItem": {
      "id": "addCompSetItem",
      "required": [
        "hotelId",
        "hotelName",
        "eventDate"
      ],
      "properties": {
        "hotelId": {
          "type": "integer",
          "format": "int32",
          "description": "hotel id"
        },
        "hotelName": {
          "type": "string",
          "description": "hotel name"
        },
        "eventDate": {
          "type": "string",
          "description": "event date"
        }
      }
    },
    "SoldOutRoomTypeJSONResponse": {
      "id": "SoldOutRoomTypeJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "type": "array",
          "description": "Sold out room types by hotel",
          "items": {
            "$ref": "#/definitions/SoldOutRoomTypeData"
          }
        }
      }
    },
    "SoldOutRoomTypeData": {
      "id": "SoldOutRoomTypeData",
      "required": [
        "hotelId",
        "hotelName",
        "roomTypes"
      ],
      "properties": {
        "hotelId": {
          "type": "integer",
          "format": "int32",
          "description": "hotel id"
        },
        "hotelName": {
          "type": "string",
          "description": "hotel name"
        },
        "roomTypes": {
          "type": "array",
          "description": "Sold out by r",
          "items": {
            "$ref": "#/definitions/SoldOutRoomTypeItem"
          }
        }
      }
    },
    "SoldOutRoomTypeItem": {
      "id": "SoldOutRoomTypeItem",
      "required": [
        "roomTypeId"
      ],
      "properties": {
        "roomTypeId": {
          "type": "integer",
          "format": "int32",
          "description": "room type id"
        }
      }
    },
    "GainedOpportunitiesJSONResponse": {
      "id": "GainedOpportunitiesJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "type": "array",
          "description": "gained opportunities by dates",
          "items": {
            "$ref": "#/definitions/GainedOpportunitiesData"
          }
        }
      }
    },
    "GainedOpportunitiesData": {
      "id": "GainedOpportunitiesData",
      "required": [
        "bookedHotelId",
        "bookedHotelName",
        "date",
        "totalViewerCounter",
        "gainedOpportunities"
      ],
      "properties": {
        "bookedHotelId": {
          "type": "integer",
          "format": "int32",
          "description": "booked hotel id"
        },
        "bookedHotelName": {
          "type": "string",
          "description": "booked hotel name"
        },
        "date": {
          "type": "string",
          "description": "booked date"
        },
        "totalViewerCounter": {
          "type": "integer",
          "format": "int32",
          "description": "the total view number"
        },
        "gainedOpportunities": {
          "type": "array",
          "description": "gained opportunities from these hotels",
          "items": {
            "$ref": "#/definitions/GainedOpportunitiesItem"
          }
        },
        "timeStamp": {
          "type": "string",
          "description": "timeStamp of the data creation"
        }
      }
    },
    "GainedOpportunitiesItem": {
      "id": "GainedOpportunitiesItem",
      "required": [
        "hotelId",
        "hotelName",
        "views"
      ],
      "properties": {
        "hotelId": {
          "type": "integer",
          "format": "int32",
          "description": "viewed hotel id"
        },
        "hotelName": {
          "type": "string",
          "description": "viewed hotel name"
        },
        "views": {
          "type": "integer",
          "format": "int32",
          "description": "view number"
        }
      }
    },
    "GeoDemandJSONResponse": {
      "id": "GeoDemandJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "$ref": "#/definitions/GeoDemandData"
        }
      }
    },
    "GeoDemandData": {
      "id": "GeoDemandData",
      "required": [
        "totalTravelers",
        "travelersDetails"
      ],
      "properties": {
        "totalTravelers": {
          "type": "integer",
          "format": "int32",
          "description": "Total travelers today"
        },
        "travelersDetails": {
          "type": "array",
          "description": "missed opportunities by hotel",
          "items": {
            "$ref": "#/definitions/GeoDemandItem"
          }
        }
      }
    },
    "GeoDemandItem": {
      "id": "GeoDemandItem",
      "required": [
        "region",
        "regionId",
        "num"
      ],
      "properties": {
        "region": {
          "type": "string",
          "description": "region name"
        },
        "regionId": {
          "type": "integer",
          "format": "int32",
          "description": "region id"
        },
        "num": {
          "type": "integer",
          "format": "int32",
          "description": "the number of travelers visited this hotel's infosite page"
        }
      }
    },
    "SameDaySortHistoryJSONResponse": {
      "id": "SameDaySortHistoryJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "$ref": "#/definitions/SameDaySortHistoryData"
        }
      }
    },
    "SameDaySortHistoryData": {
      "id": "SameDaySortHistoryData",
      "required": [
        "searchDate",
        "avgRank",
        "avgPriceAmount"
      ],
      "properties": {
        "searchDate": {
          "type": "string",
          "description": "The date when we search this hotel"
        },
        "avgRank": {
          "type": "number",
          "format": "float",
          "description": "Average sort rank in the related search date"
        },
        "avgPriceAmount": {
          "type": "number",
          "format": "float",
          "description": "Average price amount in the related search date"
        }
      }
    },
    "MissedOpposLeaderBoardJSONResponse": {
      "id": "MissedOpposLeaderBoardJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "$ref": "#/definitions/MissedOpposLeaderBoardData"
        }
      }
    },
    "MissedOpposLeaderBoardData": {
      "id": "MissedOpposLeaderBoardData",
      "required": [
        "viewedHotelId",
        "viewedHotelName",
        "totalViewerCounter",
        "missedOpportunities",
        "timeStamp"
      ],
      "properties": {
        "viewedHotelId": {
          "type": "integer",
          "format": "int32",
          "description": "viewed hotel id"
        },
        "viewedHotelName": {
          "type": "string",
          "description": "viewed hotel name"
        },
        "missedOpportunities": {
          "type": "array",
          "description": "missed opportunities by hotel",
          "items": {
            "$ref": "#/definitions/MissedOpportunitiesItem"
          }
        }
      }
    },
    "newsfeedJSONResponse": {
      "id": "newsfeedJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "type": "array",
          "description": "newsfeed list",
          "items": {
            "$ref": "#/definitions/newsfeedData"
          }
        }
      }
    },
    "newsfeedData": {
      "id": "newsfeedData",
      "required": [
        "_id",
        "hotelId",
        "eventType",
        "eventDate",
        "data"
      ],
      "properties": {
        "_id": {
          "type": "string",
          "description": "event id"
        },
        "hotelId": {
          "type": "integer",
          "format": "int32",
          "description": "hotel id"
        },
        "eventType": {
          "type": "string",
          "description": "event type"
        },
        "eventDate": {
          "type": "string",
          "description": "event date"
        },
        "data": {
          "type": "string",
          "description": "event data"
        }
      }
    },
    "NewsfeedADRJSONResponse": {
      "id": "NewsfeedADRJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "type": "array",
          "description": "Average Daily Rate (ADR) for per day",
          "items": {
            "$ref": "#/definitions/NewsfeedADRData"
          }
        }
      }
    },
    "NewsfeedADRData": {
      "id": "NewsfeedADRData",
      "required": [
        "date",
        "avg",
        "min",
        "max"
      ],
      "properties": {
        "date": {
          "type": "string",
          "description": "date"
        },
        "avg": {
          "type": "number",
          "format": "float",
          "description": "Average daily rate of hotel"
        },
        "min": {
          "type": "number",
          "format": "float",
          "description": "Minimal average daily rate of competitor hotel"
        },
        "max": {
          "type": "number",
          "format": "float",
          "description": "Maximal average daily rate of competitor hotel"
        }
      }
    },
    "FairShareInfositeViewsJSONResponse": {
      "id": "FairShareInfositeViewsJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "type": "float",
          "description": "the comparison of today's fair share with last 7, 14, 21 and 28 days' fair share"
        }
      }
    },
    "FairShareJSONResponse": {
      "id": "FairShareJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "$ref": "#/definitions/FairShareData"
        }
      }
    },
    "FairShareData": {
      "id": "FairShareData",
      "required": [
        "roomCount",
        "compSetRoomCount",
        "fairShare",
        "daily"
      ],
      "properties": {
        "roomCount": {
          "type": "integer",
          "format": "int32",
          "description": "your hotel's room count"
        },
        "compSetRoomCount": {
          "type": "integer",
          "format": "int32",
          "description": "competitors' room count"
        },
        "fairShare": {
          "type": "number",
          "format": "float",
          "description": "fair share metrics. it's roomCount/(roomCount + compSetRoomCount)"
        },
        "daily": {
          "type": "array",
          "description": "fair share data by daily",
          "items": {
            "$ref": "#/definitions/DailyFairShareItem"
          }
        }
      }
    },
    "DailyFairShareItem": {
      "id": "DailyFairShareItem",
      "required": [
        "date",
        "bookedRooms",
        "compSetBookedRooms"
      ],
      "properties": {
        "date": {
          "type": "string",
          "description": "date"
        },
        "bookedRooms": {
          "type": "string",
          "description": "your hotel's booked room number"
        },
        "compSetBookedRooms": {
          "type": "string",
          "description": "competitors' booked room number"
        }
      }
    },
    "InterestPriceRangeJSONResponse": {
      "id": "InterestPriceRangeJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "type": "array",
          "description": "Interest price range at a specified time",
          "items": {
            "$ref": "#/definitions/interestPriceRangeData"
          }
        }
      }
    },
    "interestPriceRangeData": {
      "id": "interestPriceRangeData",
      "required": [
        "priceRange",
        "count"
      ],
      "properties": {
        "priceRange": {
          "type": "string",
          "description": "price range"
        },
        "count": {
          "type": "integer",
          "description": "the number of booking in this price range"
        }
      }
    },
    "priceDistributionJSONResponse": {
      "id": "priceDistributionJSONResponse",
      "required": [
        "status",
        "errorCode",
        "errorMsg",
        "data"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "status of the request"
        },
        "errorCode": {
          "type": "string",
          "description": "error code"
        },
        "errorMsg": {
          "type": "string",
          "description": "error message"
        },
        "data": {
          "$ref": "#/definitions/priceDistributionJSONData"
        }
      }
    },
    "priceDistributionJSONData": {
      "id": "priceDistributionJSONData",
      "required": [
        "priceDistributionArr",
        "lowestPriceArr"
      ],
      "properties": {
        "priceDistributionArr": {
          "type": "array",
          "description": "price distribution in one market at a specified time",
          "items": {
            "$ref": "#/definitions/priceDistributionData"
          }
        },
        "lowestPriceArr": {
          "type": "array",
          "description": "the list of hotel with lowest price at a specified time",
          "items": {
            "$ref": "#/definitions/lowestPriceData"
          }
        }
      }
    },
    "priceDistributionData": {
      "id": "priceDistributionData",
      "required": [
        "rooms",
        "yourHotelflag",
        "priceRange",
        "percentage"
      ],
      "properties": {
        "rooms": {
          "type": "integer",
          "description": "the number of rooms in this price range"
        },
        "yourHotelflag": {
          "type": "boolean",
          "description": "the price distribution of your hotel"
        },
        "priceRange": {
          "type": "string",
          "description": "price range"
        },
        "percentage": {
          "type": "integer",
          "description": "percentage of total rooms booked"
        }
      }
    },
    "lowestPriceData": {
      "id": "lowestPriceData",
      "required": [
        "hotelId",
        "lowestPrice",
        "hotelName"
      ],
      "properties": {
        "hotelId": {
          "type": "integer",
          "description": "hotel id"
        },
        "lowestPrice": {
          "type": "number",
          "description": "the lowest ADR price of hotel"
        },
        "hotelName": {
          "type": "string",
          "description": "hotel name"
        }
      }
    }
  }
}