{
  "swagger": "2.0",
  "info": {
    "version": "0.0.0",
    "title": "Production"
  },
  "schemes": [
    "https"
  ],
  "host": "services.expediapartnercentral.com",
  "basePath": "/production-api",
  "securityDefinitions": {
    "epsSecurity": {
      "type": "basic"
    }
  },
  "security": {
    "epsSecurity": []
  },
  "paths": {
    "/FlashReport": {
      "get": {
        "description": "Hotel and compset performance for past and future stay dates.\n - Year To Date Stays(ytd): represents the YOY production trend (for hotel and compset) considering all stay dates starting beginning of the year until the report date.\n - Next Week Stays(nw): represents the YOY production trend considering all stay dates for the week following the report date.\n - Next 4 Weeks Stays(n4w): represents the YOY production trend considering all stay dates for the 4 weeks following the report date.\n - Net Room Night Count(nrn) : represents the total number of reservations the hotel will deliver (if cancellations are made, then they are considered in the calculation).\n - Average Daily Rate(adr) : base rate per room night for hotel rooms.\n",
        "parameters": [
          {
            "name": "htid",
            "in": "query",
            "description": "Hotel ID",
            "required": true,
            "type": "number"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "default": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ytd_hotel_nrn_delta": {
                    "description": "Year To Date Hotel Net Room Night",
                    "type": "number",
                    "format": "double"
                  },
                  "ytd_hotel_adr_delta": {
                    "description": "Year To Date Hotel Average Daily Rate",
                    "type": "number",
                    "format": "double"
                  },
                  "ytd_compset_nrn_delta": {
                    "description": "Year To Date Compset Net Room Night",
                    "type": "number",
                    "format": "double"
                  },
                  "ytd_compset_adr_delta": {
                    "description": "Year To Date Compset Average Daily Rate",
                    "type": "number",
                    "format": "double"
                  },
                  "nw_hotel_nrn_delta": {
                    "description": "Next Week Hotel Net Room Night",
                    "type": "number",
                    "format": "double"
                  },
                  "nw_hotel_adr_delta": {
                    "description": "Next Week Hotel Average Daily Rate",
                    "type": "number",
                    "format": "double"
                  },
                  "nw_compset_nrn_delta": {
                    "description": "Next Week Compset Net Room Night",
                    "type": "number",
                    "format": "double"
                  },
                  "nw_compset_adr_delta": {
                    "description": "Next Week Compset Average Daily Rate",
                    "type": "number",
                    "format": "double"
                  },
                  "n4w_hotel_nrn_delta": {
                    "description": "Next 4 Weeks Hotel Net Room Night",
                    "type": "number",
                    "format": "double"
                  },
                  "n4w_hotel_adr_delta": {
                    "description": "Next 4 Weeks Hotel Average Daily Rate",
                    "type": "number",
                    "format": "double"
                  },
                  "n4w_compset_nrn_delta": {
                    "description": "Next 4 Weeks Compset Net Room Night",
                    "type": "number",
                    "format": "double"
                  },
                  "n4w_compset_adr_delta": {
                    "description": "Next 4 Weeks Compset Average Daily Rate",
                    "type": "number",
                    "format": "double"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
