{
  "swagger": "2.0",
  "info": {
    "version": "0.0.0",
    "title": "Production"
  },
  "schemes": [
    "https"
  ],
  "host": "services.expediapartnercentral.com",
  "basePath": "/production-api",
  "securityDefinitions": {
    "epsSecurity": {
      "type": "basic"
    }
  },
  "security": {
    "epsSecurity": []
  },
  "paths": {
    "/BookingTrends": {
      "get": {
        "description": "Insights into the travelers’ booking patterns\n",
        "parameters": [
          {
            "name": "htid",
            "in": "query",
            "description": "Hotel ID",
            "required": true,
            "type": "number"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "default": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "category": {
                    "description": "",
                    "type": "string"
                  },
                  "caption": {
                    "description": "",
                    "type": "string"
                  },
                  "l28d_compset_cy": {
                    "description": "",
                    "type": "number",
                    "format": "double"
                  },
                  "l28d_compset_ly": {
                    "description": "",
                    "type": "number",
                    "format": "double"
                  },
                  "l90d_compset_cy": {
                    "description": "",
                    "type": "number",
                    "format": "double"
                  },
                  "l90d_compset_ly": {
                    "description": "",
                    "type": "number",
                    "format": "double"
                  },
                  "l28d_hotel_cy": {
                    "description": "",
                    "type": "number",
                    "format": "double"
                  },
                  "l28d_hotel_ly": {
                    "description": "",
                    "type": "number",
                    "format": "double"
                  },
                  "l90d_hotel_cy": {
                    "description": "",
                    "type": "number",
                    "format": "double"
                  },
                  "l90d_hotel_ly": {
                    "description": "",
                    "type": "number",
                    "format": "double"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}