{
  "swagger": "2.0",
  "info": {
    "version": "0.0.0",
    "title": "Production"
  },
  "schemes": [
    "https"
  ],
  "host": "services.expediapartnercentral.com",
  "basePath": "/production-api",
  "securityDefinitions": {
    "epsSecurity": {
      "type": "basic"
    }
  },
  "security": {
    "epsSecurity": []
  },
  "paths": {
    "/BookingTrends": {
      "get": {
        "description": "Insights into the travelers’ booking patterns\n",
        "parameters": [
          {
            "name": "htid",
            "in": "query",
            "description": "Hotel ID",
            "required": true,
            "type": "number"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "default": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "category": {
                    "description": "Can be brand or travelerOrigination because this endpoint returns data by brand or traveler country.",
                    "type": "string"
                  },
                  "caption": {
                    "description": "If category=brand this property contains the name of the brand; if category=travelerOrigination this property contains the country code(3 letters)",
                    "type": "string"
                  },
                  "l28d_compset_cy": {
                    "description": "Compset production for last 28 days in current year",
                    "type": "number",
                    "format": "double"
                  },
                  "l28d_compset_ly": {
                    "description": "Compset production for last 28 days in last year",
                    "type": "number",
                    "format": "double"
                  },
                  "l90d_compset_cy": {
                    "description": "Compset production for last 90 days in current year",
                    "type": "number",
                    "format": "double"
                  },
                  "l90d_compset_ly": {
                    "description": "Compset production for last 90 days in last year",
                    "type": "number",
                    "format": "double"
                  },
                  "l28d_hotel_cy": {
                    "description": "Hotel production for last 28 days in current year",
                    "type": "number",
                    "format": "double"
                  },
                  "l28d_hotel_ly": {
                    "description": "Hotel production for last 28 days in last year",
                    "type": "number",
                    "format": "double"
                  },
                  "l90d_hotel_cy": {
                    "description": "Hotel production for last 90 days in current year",
                    "type": "number",
                    "format": "double"
                  },
                  "l90d_hotel_ly": {
                    "description": "Hotel production for last 90 days in last year",
                    "type": "number",
                    "format": "double"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FlashReport": {
      "get": {
        "description": "Hotel and compset performance for past and future stay dates.\n - Year To Date Stays(ytd): represents the YOY production trend (for hotel and compset) considering all stay dates starting beginning of the year until the report date.\n - Next Week Stays(nw): represents the YOY production trend considering all stay dates for the week following the report date.\n - Next 4 Weeks Stays(n4w): represents the YOY production trend considering all stay dates for the 4 weeks following the report date.\n - Net Room Night Count(nrn) : represents the total number of reservations the hotel will deliver (if cancellations are made, then they are considered in the calculation).\n - Average Daily Rate(adr) : base rate per room night for hotel rooms.\n",
        "parameters": [
          {
            "name": "htid",
            "in": "query",
            "description": "Hotel ID",
            "required": true,
            "type": "number"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "default": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "ytd_hotel_nrn_delta": {
                    "description": "Year To Date Hotel Net Room Night",
                    "type": "number",
                    "format": "double"
                  },
                  "ytd_hotel_adr_delta": {
                    "description": "Year To Date Hotel Average Daily Rate",
                    "type": "number",
                    "format": "double"
                  },
                  "ytd_compset_nrn_delta": {
                    "description": "Year To Date Compset Net Room Night",
                    "type": "number",
                    "format": "double"
                  },
                  "ytd_compset_adr_delta": {
                    "description": "Year To Date Compset Average Daily Rate",
                    "type": "number",
                    "format": "double"
                  },
                  "nw_hotel_nrn_delta": {
                    "description": "Next Week Hotel Net Room Night",
                    "type": "number",
                    "format": "double"
                  },
                  "nw_hotel_adr_delta": {
                    "description": "Next Week Hotel Average Daily Rate",
                    "type": "number",
                    "format": "double"
                  },
                  "nw_compset_nrn_delta": {
                    "description": "Next Week Compset Net Room Night",
                    "type": "number",
                    "format": "double"
                  },
                  "nw_compset_adr_delta": {
                    "description": "Next Week Compset Average Daily Rate",
                    "type": "number",
                    "format": "double"
                  },
                  "n4w_hotel_nrn_delta": {
                    "description": "Next 4 Weeks Hotel Net Room Night",
                    "type": "number",
                    "format": "double"
                  },
                  "n4w_hotel_adr_delta": {
                    "description": "Next 4 Weeks Hotel Average Daily Rate",
                    "type": "number",
                    "format": "double"
                  },
                  "n4w_compset_nrn_delta": {
                    "description": "Next 4 Weeks Compset Net Room Night",
                    "type": "number",
                    "format": "double"
                  },
                  "n4w_compset_adr_delta": {
                    "description": "Next 4 Weeks Compset Average Daily Rate",
                    "type": "number",
                    "format": "double"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FutureStayProduction7Days": {
      "get": {
        "description": "Hotel room nights for the 4 stay weeks following the report date\n",
        "parameters": [
          {
            "name": "htid",
            "in": "query",
            "description": "Hotel ID",
            "required": true,
            "type": "number"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "default": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "week_start": {
                    "description": "The date to which cy_7d_pickup_nrn and ly_7d_pickup_nrn refers to",
                    "type": "string",
                    "format": "date"
                  },
                  "cy_7d_pickup_nrn": {
                    "description": "Hotel Room Nights for next 7 days from the week_start for the current year",
                    "type": "integer",
                    "format": "int32"
                  },
                  "ly_7d_pickup_nrn": {
                    "description": "Hotel Room Nights for next 7 days from the week_start for the last year",
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/FutureStayProduction28Days": {
      "get": {
        "description": "Hotel production for the future 28 stay dates\n",
        "parameters": [
          {
            "name": "htid",
            "in": "query",
            "description": "Hotel ID",
            "required": true,
            "type": "number"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "default": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "date": {
                    "description": "The date to which cy_future_nrn and ly_future_nrn refers to",
                    "type": "string",
                    "format": "date"
                  },
                  "cy_future_nrn": {
                    "description": "Hotel Room Nights for next 28 days of the current year",
                    "type": "integer",
                    "format": "int32"
                  },
                  "ly_future_nrn": {
                    "description": "Hotel Room Nights for next 28 days of the last year",
                    "type": "integer",
                    "format": "int32"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/MonthlyStays": {
      "get": {
        "description": "Hotel’s production for each stay month.\n",
        "parameters": [
          {
            "name": "htid",
            "in": "query",
            "description": "Hotel ID",
            "required": true,
            "type": "number"
          },
          {
            "name": "$format",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "default": "json"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "hotel_adr": {
                    "description": "Average Daily Rate - Base rate per room night for hotel rooms",
                    "type": "number",
                    "format": "double"
                  },
                  "yoy_adr": {
                    "description": "ADR delta",
                    "type": "number",
                    "format": "double"
                  },
                  "hotel_only": {
                    "description": "Price for room only",
                    "type": "number",
                    "format": "double"
                  },
                  "package": {
                    "description": "Price for package",
                    "type": "number",
                    "format": "double"
                  },
                  "total": {
                    "description": "hotel_only + package",
                    "type": "number",
                    "format": "double"
                  },
                  "yoy_hotel_only": {
                    "description": "Price for room only - Delta",
                    "type": "number",
                    "format": "double"
                  },
                  "yoy_package": {
                    "description": "Price for package - Delta",
                    "type": "number",
                    "format": "double"
                  },
                  "yoy_total": {
                    "description": "Price for total - Delta",
                    "type": "number",
                    "format": "double"
                  },
                  "year_month": {
                    "description": "YYYYMM",
                    "type": "string",
                    "format": "yyyymm"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}