{
	"swagger": "2.0",
	"info": {
		"version": "v1",
		"title": "EPS Property API",
		"description": "The EPS Property API is used to onboard property attributes, images, policies, and fees. Additionally, this API can be used to update property content post onboarding. The quickest way to get started is to review the Supported Features (https://expediaconnectivity.com/apis/product-management/property-api/supported-features.html) and review the API Definition.\n\nNote: All requests should include Basic Authentication in HTTP header, using your Expedia Quick Connect (EQC) credentials.\n\nPlease contact EPS Product Support to authorize your existing EQC credentials to use the Property API OR to request a new EQC account.\n\nTo start experimenting, we've also made the following test credentials available: EQCtest12933870 / ew67nk33 assigned to test property ID 12933870.",
		"contact": {
			"name": "EPS Product Support",
			"url": "https://expediaconnectivity.com/developer",
			"email": "EPSProductSupport@expedia.com"
		}
	},
	"host": "services.expediapartnercentral.com",
	"basePath": "/properties",
	"schemes": ["https"],
	"paths": {
		"/v1/{provider}/{providerPropertyId}": {
			"get": {
				"tags": ["Properties"],
				"summary": "Gets a specific property with a given providerPropertyId for the given provider.",
				"operationId": "Properties_GetPropertyByProviderPropertyId",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
						"name": "providerPropertyId",
						"in": "path",
						"description": "The provider's unique ID for property.",
						"required": true,
						"type": "string",
						"default": "12933870"
					}, {
						"name": "provider",
						"in": "path",
						"description": "The provider's identifier.",
						"required": true,
						"type": "string",
						"default": "spoofer"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Expedia.Xpresso.Common.Models.ResponseWrapper[Expedia.Xpresso.Common.Models.Content.Property]"
						}
					},
					"400": {
						"description": "BadRequest"
					},
					"401": {
						"description": "Unauthorized"
					},
					"404": {
						"description": "NotFound"
					}
				}
			},
			"delete": {
				"tags": ["Properties"],
				"summary": "Soft deletes a specific property with a given providerPropertyId for the given provider.",
				"operationId": "Properties_DisableProperty",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
						"name": "provider",
						"in": "path",
						"description": "The provider's identifier.",
						"required": true,
						"type": "string",
						"default": "spoofer"
					}, {
						"name": "providerPropertyId",
						"in": "path",
						"description": "The provider's unique ID for property.",
						"required": true,
						"type": "string",
						"default": "12933870"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.PropertyResponse"
						}
					},
					"400": {
						"description": "BadRequest"
					},
					"401": {
						"description": "Unauthorized"
					},
					"404": {
						"description": "NotFound"
					}
				}
			}
		},
		"/v1/{provider}": {
			"put": {
				"tags": ["Properties"],
				"summary": "Creates or updates properties for a given provider. For updates, the entire property document must be sent: the update operation is a full overlay.",
				"operationId": "Properties_CreateOrUpdateProperties",
				"consumes": ["application/json", "text/json"],
				"produces": ["application/json", "text/json"],
				"parameters": [{
						"name": "provider",
						"in": "path",
						"description": "The provider's identifier.",
						"required": true,
						"type": "string",
						"default": "spoofer"
					}, {
						"name": "properties",
						"in": "body",
						"description": "The list of properties to process.",
						"required": true,
						"schema": {
							"type": "array",
							"items": {
								"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Property"
							}
						},
						"default": "[\r\n  {\r\n    \"providerPropertyId\": \"12933870\",\r\n    \"name\": \"Property Name\",\r\n    \"latitude\": \"21.3752\",\r\n    \"longitude\": \"-88.3261\",\r\n    \"providerPropertyUrl\": \"http://example.org\",\r\n    \"structureType\": \"Hotel\",\r\n    \"currencyCode\": \"GBP\",\r\n    \"billingCurrencyCode\": \"GBP\",\r\n    \"timeZone\": \"Europe/Dublin\",\r\n    \"addresses\": [\r\n      {\r\n        \"line1\": \"Address Line 1\",\r\n        \"line2\": null,\r\n        \"city\": \"City\",\r\n        \"state\": \"State or Province\",\r\n        \"postalCode\": \"77780\",\r\n        \"countryCode\": \"MEX\"\r\n      }\r\n    ],\r\n    \"ratings\": [\r\n      {\r\n        \"score\": 4.0,\r\n        \"maxScore\": 5.0,\r\n        \"source\": \"AAA\",\r\n        \"description\": \"4 STARS\"\r\n      }\r\n    ],\r\n    \"contacts\": {\r\n      \"property\": {\r\n        \"phoneNumbers\": [\r\n          {\r\n            \"phoneNumberType\": \"Phone\",\r\n            \"countryAccessCode\": \"1\",\r\n            \"areaCode\": \"123\",\r\n            \"number\": \"1234567\"\r\n          }\r\n        ]\r\n      },\r\n      \"reservationManager\": {\r\n        \"firstName\": \"First\",\r\n        \"lastName\": \"Last\",\r\n        \"emails\": [\r\n          \"abc@xyz.com\"\r\n        ],\r\n        \"phoneNumbers\": [\r\n          {\r\n            \"phoneNumberType\": \"Phone\",\r\n            \"countryAccessCode\": \"1\",\r\n            \"areaCode\": \"123\",\r\n            \"number\": \"4567890\"\r\n          },\r\n          {\r\n            \"phoneNumberType\": \"Fax\",\r\n            \"countryAccessCode\": \"1\",\r\n            \"areaCode\": \"123\",\r\n            \"number\": \"7890123\"\r\n          }\r\n        ]\r\n      },\r\n      \"alternateReservationManager\": {\r\n        \"phoneNumbers\": [\r\n          {\r\n            \"phoneNumberType\": \"Phone\",\r\n            \"countryAccessCode\": \"1\",\r\n            \"areaCode\": \"123\",\r\n            \"number\": \"1234567\"\r\n          }\r\n        ]\r\n      },\r\n      \"generalManager\": {\r\n        \"firstName\": \"General\",\r\n        \"lastName\": \"Manager\",\r\n        \"emails\": [\r\n          \"abc123@xyz.com\"\r\n        ]\r\n      }\r\n    },\r\n    \"airports\": [\r\n      {\r\n        \"code\": \"PCM\",\r\n        \"name\": \"Playa del Carmen Airport\"\r\n      }\r\n    ],\r\n    \"contents\": [\r\n      {\r\n        \"locale\": \"en-US\",\r\n        \"name\": \"Localized Property Name\",\r\n        \"providerPropertyUrl\": null,\r\n        \"images\": [\r\n          {\r\n            \"url\": \"http://images.xyz.com/mainImage.jpg\",\r\n            \"categoryCode\": \"FEATURED_IMAGE\",\r\n            \"caption\": \"Main Image\"\r\n          },\r\n          {\r\n            \"url\": \"http://images.xyz.com/additionalImage.jpg\",\r\n            \"categoryCode\": null,\r\n            \"caption\": \"Additional Image\"\r\n          }\r\n        ],\r\n        \"amenities\": [\r\n          {\r\n            \"code\": \"BREAKFAST\",\r\n            \"detailCode\": \"FREE\",\r\n            \"value\": null\r\n          },\r\n          {\r\n            \"code\": \"WIFI_INTERNET\",\r\n            \"detailCode\": \"SURCHARGE_PER_STAY\",\r\n            \"value\": 10.99\r\n          }\r\n        ],\r\n        \"paragraphs\": [\r\n          {\r\n            \"code\": \"DESCRIPTION\",\r\n            \"value\": \"Property description.\"\r\n          },\r\n          {\r\n            \"code\": \"SPECIAL_CHECKIN_INSTRUCTIONS\",\r\n            \"value\": \"Special check-in instructions.\"\r\n          }\r\n        ]\r\n      }\r\n    ],\r\n    \"propertyCollectedMandatoryFees\": [\r\n      {\r\n        \"code\": \"RESORT_FEE\",\r\n        \"scope\": \"PER_PERSON\",\r\n        \"duration\": \"PER_NIGHT\",\r\n        \"value\": 25.99,\r\n        \"startDate\": null,\r\n        \"endDate\": null\r\n      }\r\n    ],\r\n    \"taxes\": [\r\n      {\r\n        \"code\": \"VAT\",\r\n        \"detailCode\": \"PERCENT_PER_STAY\",\r\n        \"value\": 20.0\r\n      }\r\n    ],\r\n    \"policies\": [\r\n      {\r\n        \"code\": \"MINIMUM_CHECKIN_AGE\",\r\n        \"detailCode\": null,\r\n        \"value\": \"18\"\r\n      },\r\n      {\r\n        \"code\": \"CHECKIN_TIME\",\r\n        \"detailCode\": null,\r\n        \"value\": \"2:00 PM\"\r\n      },\r\n      {\r\n        \"code\": \"CHECKOUT_TIME\",\r\n        \"detailCode\": null,\r\n        \"value\": \"11:00 AM\"\r\n      },\r\n      {\r\n        \"code\": \"CANCELLATION_CUTOFF_TIME\",\r\n        \"detailCode\": null,\r\n        \"value\": \"6:00 PM\"\r\n      }\r\n    ],\r\n    \"inventorySettings\": {\r\n      \"rateAcquisitionType\": \"NET_RATE\"\r\n    },\r\n    \"attributes\": [\r\n      {\r\n        \"code\": \"TOTAL_ROOMS\",\r\n        \"value\": \"15\"\r\n      }\r\n    ]\r\n  }\r\n]"
					}
				],
				"responses": {
					"202": {
						"description": "Accepted",
						"schema": {
							"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.PropertyResponse"
						}
					},
					"400": {
						"description": "BadRequest",
						"schema": {
							"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.PropertyResponse"
						}
					},
					"401": {
						"description": "Unauthorized"
					}
				}
			}
		},
		"/v1/{provider}/{providerPropertyId}/status": {
			"get": {
				"tags": ["PropertyStatus"],
				"summary": "Returns the current status of a particular property.",
				"operationId": "PropertyStatus_GetOnboardingStatusByProviderPropertyId",
				"consumes": [],
				"produces": ["application/json", "text/json"],
				"parameters": [{
						"name": "provider",
						"in": "path",
						"description": "The provider's identifier.",
						"required": true,
						"type": "string",
						"default": "spoofer"
					}, {
						"name": "providerPropertyId",
						"in": "path",
						"description": "The provider's unique property ID for property.",
						"required": true,
						"type": "string",
						"default": "12933870"
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"schema": {
							"$ref": "#/definitions/Expedia.Xpresso.Common.Models.ResponseWrapper[Expedia.Xpresso.Common.Models.Onboarding.PropertyStatus]"
						}
					},
					"400": {
						"description": "BadRequest"
					},
					"401": {
						"description": "Unauthorized"
					},
					"404": {
						"description": "NotFound"
					}
				}
			}
		}
	},
	"definitions": {
		"Expedia.Xpresso.Common.Models.Error": {
			"type": "object",
			"properties": {
				"code": {
					"format": "int32",
					"type": "integer"
				},
				"message": {
					"type": "string"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.ResponseWrapper[Expedia.Xpresso.Common.Models.Content.Property]": {
			"type": "object",
			"properties": {
				"entity": {
					"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Property"
				},
				"errors": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Error"
					}
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.Address": {
			"type": "object",
			"properties": {
				"line1": {
					"type": "string"
				},
				"line2": {
					"type": "string"
				},
				"city": {
					"type": "string"
				},
				"state": {
					"type": "string"
				},
				"postalCode": {
					"type": "string"
				},
				"countryCode": {
					"type": "string"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.PropertyRating": {
			"type": "object",
			"properties": {
				"score": {
					"format": "double",
					"type": "number"
				},
				"maxScore": {
					"format": "double",
					"type": "number"
				},
				"source": {
					"type": "string"
				},
				"description": {
					"type": "string"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.Contact": {
			"type": "object",
			"properties": {
				"firstName": {
					"type": "string"
				},
				"lastName": {
					"type": "string"
				},
				"emails": {
					"type": "array",
					"items": {
						"type": "string"
					}
				},
				"phoneNumbers": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.PhoneNumber"
					}
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.Airport": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string"
				},
				"name": {
					"type": "string"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.PropertyContent": {
			"type": "object",
			"properties": {
				"locale": {
					"type": "string"
				},
				"name": {
					"type": "string"
				},
				"providerPropertyUrl": {
					"type": "string"
				},
				"images": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Image"
					}
				},
				"amenities": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Amenity"
					}
				},
				"paragraphs": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Paragraph"
					}
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.PropertyCollectedMandatoryFee": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string"
				},
				"scope": {
					"type": "string"
				},
				"duration": {
					"type": "string"
				},
				"value": {
					"format": "double",
					"type": "number"
				},
				"startDate": {
					"format": "date-time",
					"type": "string"
				},
				"endDate": {
					"format": "date-time",
					"type": "string"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.Tax": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string"
				},
				"detailCode": {
					"type": "string"
				},
				"value": {
					"format": "double",
					"type": "number"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.Policy": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string"
				},
				"detailCode": {
					"type": "string"
				},
				"value": {
					"type": "string"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.PropertyAttribute": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string"
				},
				"value": {
					"type": "string"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Link": {
			"type": "object",
			"properties": {
				"href": {
					"type": "string"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.RoomType": {
			"type": "object",
			"properties": {
				"bedrooms": {
					"format": "int32",
					"type": "integer"
				},
				"bathrooms": {
					"format": "double",
					"type": "number"
				},
				"maxOccupancy": {
					"format": "int32",
					"type": "integer"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.PhoneNumber": {
			"type": "object",
			"properties": {
				"phoneNumberType": {
					"enum": ["Phone", "Fax", "Mobile"],
					"type": "string"
				},
				"countryAccessCode": {
					"type": "string"
				},
				"areaCode": {
					"type": "string"
				},
				"number": {
					"type": "string"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.Image": {
			"type": "object",
			"properties": {
				"url": {
					"type": "string"
				},
				"categoryCode": {
					"type": "string"
				},
				"caption": {
					"type": "string"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.Amenity": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string"
				},
				"detailCode": {
					"type": "string"
				},
				"value": {
					"format": "double",
					"type": "number"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.Paragraph": {
			"type": "object",
			"properties": {
				"code": {
					"type": "string"
				},
				"value": {
					"type": "string"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.InventorySettings": {
			"type": "object",
			"properties": {
				"rateAcquisitionType": {
					"enum": ["SELL_LAR", "NET_RATE"],
					"type": "string"
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.Property": {
			"type": "object",
			"properties": {
				"providerPropertyId": {
					"type": "string"
				},
				"provider": {
					"type": "string",
					"readOnly": true
				},
				"expediaId": {
					"format": "int32",
					"type": "integer",
					"readOnly": true
				},
				"name": {
					"type": "string"
				},
				"latitude": {
					"type": "string"
				},
				"longitude": {
					"type": "string"
				},
				"createdUtc": {
					"format": "date-time",
					"type": "string",
					"readOnly": true
				},
				"modifiedUtc": {
					"format": "date-time",
					"type": "string",
					"readOnly": true
				},
				"providerPropertyUrl": {
					"type": "string"
				},
				"structureType": {
					"enum": ["HOTEL", "MOTEL", "APART_HOTEL", "BED_AND_BREAKFAST", "INN", "APARTMENT", "CONDO", "COTTAGE"],
					"type": "string"
				},
				"currencyCode": {
					"type": "string"
				},
				"billingCurrencyCode": {
					"type": "string"
				},
				"timeZone": {
					"type": "string"
				},
				"addresses": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Address"
					}
				},
				"ratings": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.PropertyRating"
					}
				},
				"contacts": {
					"type": "object",
					"properties": {
						"Property": {
							"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Contact"
						},
						"ReservationManager": {
							"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Contact"
						},
						"AlternateReservationManager": {
							"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Contact"
						},
						"GeneralManager": {
							"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Contact"
						},
						"PropertyExtranetUser": {
							"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Contact"
						}
					}
				},
				"airports": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Airport"
					}
				},
				"contents": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.PropertyContent"
					}
				},
				"propertyCollectedMandatoryFees": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.PropertyCollectedMandatoryFee"
					}
				},
				"taxes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Tax"
					}
				},
				"policies": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Policy"
					}
				},
				"inventorySettings": {
					"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.InventorySettings"
				},
				"attributes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.PropertyAttribute"
					}
				},
				"status": {
					"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Link"
				},
				"roomTypes": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.RoomType"
					}
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Content.PropertyResponse": {
			"type": "object",
			"properties": {
				"entity": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Content.Property"
					}
				},
				"errors": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Error"
					}
				}
			}
		},
		"Expedia.Xpresso.Common.Models.ResponseWrapper[Expedia.Xpresso.Common.Models.Onboarding.PropertyStatus]": {
			"type": "object",
			"properties": {
				"entity": {
					"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Onboarding.PropertyStatus"
				},
				"errors": {
					"type": "array",
					"items": {
						"$ref": "#/definitions/Expedia.Xpresso.Common.Models.Error"
					}
				}
			}
		},
		"Expedia.Xpresso.Common.Models.Onboarding.PropertyStatus": {
			"type": "object",
			"properties": {
				"provider": {
					"type": "string"
				},
				"providerPropertyId": {
					"type": "string"
				},
				"expediaId": {
					"format": "int32",
					"type": "integer"
				},
				"code": {
					"enum": ["OnboardingFailed", "ExpediaIdAssigned", "FinanceSetupPending", "OnboardingSucceeded", "PropertySaved", "FinanceSetupSucceeded", "ExpediaIdAssignmentPending", "PropertyDisabled"],
					"type": "string"
				},
				"timestampUtc": {
					"format": "date-time",
					"type": "string"
				},
				"reasonCodes": {
					"type": "array",
					"items": {
						"enum": ["None", "PropertyDisabled", "MissingExpediaId", "MissingContactInfo", "BookableProvidersExist", "InvalidPropertyName", "InvalidCoordinates", "NoValidAddresses", "NoValidPhoneNumbers", "InvalidCountryCode", "InternalError", "UnsupportedLocation", "PropertySuspended", "EpcOnboardingInProgress", "OfacCheckFailed", "MissingBillingCurrencyCode"],
						"type": "string"
					}
				},
				"messages": {
					"type": "array",
					"items": {
						"type": "string"
					},
					"readOnly": true
				}
			}
		}
	},
	"securityDefinitions": {
		"eps-security": {
			"type": "basic"
		}
	},
	"security": [{
			"eps-security": []
		}
	],
	"tags": [{
			"name": "Properties",
			"description": "The properties resource"
		}, {
			"name": "PropertyStatus",
			"description": "The property status resource"
		}
	]
}
