{
    "swagger": "2.0",
    "info": {
        "description": "<span> The VIP Access API enables Expedia partners to pass a booking item ID list and it will return VIP tier status for each booking. The API also allows partners to pass a property ID list and it will return VIP hotel status for each property ID. <\/span> <h2>Authentication<\/h2> <span>The VIP Access Api uses Basic Authorization scheme and the same API credentials used to manage properties via other APIs today are compatible with this API.<\/span>\n",
        "version": "1.0.0",
        "title": "Hotel and booking VIP access service",
        "contact": {},
        "license": {}
    },
    "host": "services.expediapartnercentral.com",
    "basePath": "/vip-booking",
    "schemes": [
        "https"
    ],
    "tags": [
        {
            "name": "Bookings",
            "description": "The VIP bookings resource"
        },
        {
            "name": "Hotels",
            "description": "The VIP hotel resource"
        }
    ],
    "paths": {
        "/v1/bookings/guestVipStatus": {"get": {
            "tags": ["Bookings"],
            "summary": "guestBookingVipStatues",
            "description": "The guestVipStatus method accepts an array of booking Id integer parameters and returns the bookings's vip status.  * Note - Gold and Silver are the only two tiers which are part of the VIP Access program. Blue or any other any other tier are non-members. Booking Id's that are divisible by 3 are silver and by 5 are gold all others are non-member.",
            "operationId": "getGuestVipTierStatusUsingGET",
            "consumes": ["application/json"],
            "produces": ["application/json"],
            "parameters": [{
                "name": "ids",
                "in": "query",
                "description": "ids",
                "required": true,
                "type": "array",
                "items": {
                    "type": "integer",
                    "format": "int32"
                },
                "collectionFormat": "multi"
            }],
            "responses": {"200": {
                "description": "Ok",
                "schema": {"$ref": "#/definitions/GuestVipTierStatus"}
            }},
            "security": [{"Basic": []}]
        }},
        "/v1/bookings/{id}/guestVipStatus": {"get": {
            "tags": ["Bookings"],
            "summary": "Booking",
            "description": "The guestVipStatus method accepts an integer parameter booking Id and returns the bookings's vip status. The result will be an array of booking Id and vipStatus. * Note  Gold and Silver are the only two tiers which are part of the VIP Access program. Blue or any other any other tier are non-members. Booking Id's that are divisible by 3 are silver and by 5 are gold all others are non-member.",
            "operationId": "guestBookingVipStatus",
            "consumes": ["application/json"],
            "produces": ["application/json"],
            "parameters": [{
                "name": "id",
                "in": "path",
                "description": "id",
                "required": true,
                "type": "integer",
                "format": "int32"
            }],
            "responses": {"200": {
                "description": "Ok",
                "schema": {"$ref": "#/definitions/GuestVipTierStatus"}
            }},
            "security": [{"Basic": []}]
        }},
        "/v1/hotels/vipStatus": {"get": {
            "tags": ["Hotels"],
            "summary": "Hotel",
            "description": "he getHotelVipStatus method accepts an array of hotel property Id integer parameters and returns the hotel's vip status. The result will be an array of hotel Id's and vip boolean value. Beyond the standard response codes that can be returned there are specific codes that can be mapped to specific input errors.",
            "operationId": "getHotelVipStatus",
            "consumes": ["application/json"],
            "produces": ["application/json"],
            "parameters": [{
                "name": "ids",
                "in": "query",
                "description": "Expedia Hotel Property Ids",
                "required": false,
                "type": "array",
                "items": {
                    "type": "integer",
                    "format": "int32"
                },
                "collectionFormat": "multi"
            }],
            "responses": {"200": {
                "description": "Ok",
                "schema": {"$ref": "#/definitions/HotelVipStatus"}
            }},
            "security": [{"Basic": []}]
        }},
        "/v1/hotels/{id}/vipStatus": {"get": {
            "tags": ["Hotels"],
            "summary": "Hotel",
            "description": "The getHotelVipStatus method accepts an integer parameter hotel property Id and returns the hotel's vip status. The result will be an array of hotel Id and vip boolean value. Beyond the standard response codes that can be returned there are specific codes that can be mapped to specific input errors.",
            "operationId": "getHotelVipStatus_1",
            "consumes": ["application/json"],
            "produces": ["application/json"],
            "parameters": [{
                "name": "id",
                "in": "path",
                "description": "Expedia Hotel Property Id",
                "required": false,
                "type": "integer",
                "format": "int32"
            }],
            "responses": {"200": {
                "description": "Ok",
                "schema": {"$ref": "#/definitions/HotelVipStatus"}
            }},
            "security": [{"Basic": []}]
        }}
    },
    "securityDefinitions": {"Basic": {"type": "basic"}},
    "definitions": {
        "HotelVipStatus": {
            "type": "object",
            "properties": {
                "hotelId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The hotel property id"
                },
                "vip": {
                    "type": "boolean",
                    "description": "The hotels vip status"
                }
            }
        },
        "ResponseEntity": {
            "type": "object",
            "properties": {
                "body": {"type": "object"},
                "statusCode": {
                    "type": "string",
                    "enum": [
                        "200",
                        "400",
                        "401",
                        "403",
                        "500"
                    ]
                }
            }
        },
        "GuestVipTierStatus": {
            "type": "object",
            "properties": {
                "bookingId": {
                    "type": "integer",
                    "format": "int32",
                    "description": "The guest booking id"
                },
                "vipStatus": {
                    "type": "string",
                    "description": "The guest VIP status",
                    "enum": [
                        "BLUE",
                        "SILVER",
                        "GOLD"
                    ]
                }
            }
        }
    }
}
